{% extends 'getrout.html.twig' %}

{% block title %}Cart!{% endblock %}

{% block body %}	


<body>
    
    {# <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">cart</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">cart</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <style type="text/css">
        
.checkout ul{
    border: 2px dotted #40e0d0;
    background: #ffff;
    padding-left:25px;
    padding-right:25px;
    padding-top:16px;
    padding-bottom: 20px;
}
.checkout ul li{
    list-style: none;
    font-size:16px;
    font-weight: bold;
    color:#252525;
    text-transform: uppercase;
    overflow: hidden;
}
.checkout ul li.subtotal{
    font-weight: bold;
    text-transform: capitalize;
    border-bottom:1px solid #fff;
    padding-bottom: 14px;
}
.checkout ul li.subtotal span{
    font-weight: bold;
}
.checkout ul li.cart-total{
    padding-top: 10px
}
.checkout ul li.cart-total span{
    color:#40e0d0;
}
.checkout ul li span{
    float:right;
}
.checkout .proceed-btn{
    font-size:15px;
    font-weight: bold;
    color:#fff;
    background:#252525;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
    display: block;
    text-align: center;
}
.dashboardtable thead tr th{
    text-align: center;
}
.dashboardtable thead  tr {
    /* text-align: left; */
}
.btns-actionsside{
    
    width: 100%;
    float: left;
    margin: -5px 0;
}

.btns-actionsside .btn-action {
    margin: 5px;
    width: 40px;
    height: 40px;
    float: left;
    color: #363b4d;
    line-height: 40px;
    border-radius: 4px;
    background: #f7f7f7;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.btns-actionsside .btn-action i {
    display: block;
    line-height: 40px
}
.dashboard-wrapper{
    padding:0px;
}
    </style>
    <div class="error section-padding "  >
        <div class="container section-padding">
        <div class="col-12">
                <h3 class="section-title">Cart</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="page-content">
                        <div class="inner-box">
                            <div class="dashboard-box">
                                <h2 class="dashbord-title">My Cart</h2>
                            </div>
                            <div class="dashboard-wrapper">
                                <!-- <nav class="nav-table">
                                    <ul>
                                        <li class="active"><a href="#">Featured (12)</a></li>
                                    </ul>
                                </nav> -->
                                {% if basket %}
                                <table class="table  dashboardtable tablemyads">
                                    <thead>
                                        <tr>
                                           
                                            <th align="center">ID</th>
                                            <th  align="center" >Title</th>
                                            {# <th>Service type</th> #}
                                            <th  align="center">Status</th>
                                            <th align="center">Price</th>
                                            <th >Action</th>
                                        </tr>
                                    </thead>
                                    {% for product in basket %}
	                                    <tbody>
	                                        <tr data-category="active">
	                                        
	                                            <td align="center" ><h3>{{product.id}}</h3></td>
	                                            <td align="center" data-title="Title">
	                                                <h3>{{product.name}}</h3>

	                                            </td>
	                                            {# <td data-title="Category"><span class="adcategories">{{product.service}}</span></td> #}
	                                            <td align="center" data-title="Ad Status"><span class="adstatus adstatusactive">active</span></td>
	                                            <td align="center" data-title="Price">
	                                                <h3>{{product.price|number_format(2, '.', ',')}}</h3>
	                                            </td>
	                                            <td align="center" data-title="Action">
	                                                <div class="btns-actionsside">
	                                                    <a class="btn-action btn-view" href="prodetail/{{product.id}}"><i class="lni-eye"></i></a>  
	                                                    <form method="post">  
	                                                    <input type="hidden" name="id" value="{{ product.id }}">      
	                                                    <button class="btn-action btn-delete" style="border: none;" ><i class="lni-trash"></i></button>
	                                                    </form>
	                                                </div>
	                                            </td>
	                                        </tr>
	                                        
	                                    </tbody>
                                	{% endfor %}
                                </table>
                            {% else %}
                            	<div class="justify-content-center" style="text-align: center; padding: 50px;">
                            		<h5>No Item In cart please add</h5>
                            		<a href="services">click hare</a>
                            	</div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-top:10px;">
                    {# <a href="../service" class="btn btn-common" style="width:100%; font-size: 18px;">Add More Services </a> #}
                    <a href="../services" class="btn mb-1 btn-outline-primary"><i class="lni-cart"></i> Add More Services</a>
                </div>
            </div>

            <div class="row justify-content-center">
                {% if basket %}
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="margin-top:50px;">
                    <div class="checkout">
                        <ul>
                            <li class="subtotal">subtotal
                                <span>₹{{total|number_format(2, '.', ',')}}</span>
                            </li>
                            {# <li class="cart-total">Total
                            <span>₹{{total|number_format(2, '.', ',')}}</span></li> #}
                        </ul>
                        <a href="../checkout"class="btn btn-common" style="width:100%; font-size: 18px;">Proceed to Checkout</a>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% include  'footer.html.twig' %}
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}

</body>



{% endblock %}
