{% extends 'getrout.html.twig' %}
{% block body %}

{# {{ form(form) }} #}
<style>
.disable {
  pointer-events: none;
  opacity: 0.6;
}

</style>

<body>
    <div id="preloader" style="display: none;">
        <div class="loader" id="loader-1"></div>
    </div>
    <div class="error section-padding">
        <div class="container section-padding">
            <div class="col-12">
                <h3 class="section-title">Checkout</h3>
            </div>
            <div class="row">
                <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 order-md-2 right-sidebar">
                    <div class="widget categories">
                        <h4 class="widget-title">All Categories</h4>
                        <ul class="list-group mb-3">
                        {% for product in pro %}
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <small class="text-muted">Service name</small>
                                    <h6 class="my-0">{{product.name}}</h6>                                    
                                </div>
                                <div>
                                <small class="text-muted">Price</small>
                                <h6 class="my-0">₹{{ product.price | number_format(2) }}</h6>
                                </div>
                            </li>
                        {% endfor %}
                            {# <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Second product</h6>
                                    <small class="text-muted">Brief description</small>
                                </div>
                                <span class="text-muted">$8</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Third item</h6>
                                    <small class="text-muted">Brief description</small>
                                </div>
                                <span class="text-muted">$5</span>
                            </li> #}
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <div class="text-success">
                                    <h6 class="my-0">Points Earned</h6>
                                    <p style="font-size:11px; line-height: normal;color: #28a745 !important;">These points will be added to your wallet balance</p>
                                </div>
                                <h6 class="text-success">₹{{waltebalance| number_format(2)}}</h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <div class="text-info">
                                    <h6 class="my-0">Current Points</h6>
                                    <p style="font-size:11px; line-height: normal;color: #17a2b8 !important;">This is you Current wallet balance  </p>
                                </div>
                                <h6 class="text-info">₹{{waltebalanceold| number_format(2)}}</h6>
                            </li>
                            
                            {# <li class="list-group-item d-flex justify-content-between">
                                <div >
                                    <h6 class="my-0">Total</h6>                                  
                                    <p class="my-0" id="gst"></p>
                                    
                                </div> 
                                <strong>
                                    {% if app.request.get('usewalet') %}
                                        {% if app.request.get('usewalet')> waltebalanceold %}
                                            ₹{{ total | number_format(2) }}
                                        {% else %}
                                            ₹{{ total | number_format(2) }}<br>
                                            {%  set total = total - app.request.get('usewalet') %}
                                            <span style="color: 
                                            red">-{{app.request.get('usewalet')| number_format(2)}}</span><a href="/checkout" style="color: 
                                            red"> <i class="fa fa-times"></i> </a>
                                            <br>
                                             ₹{{ total| number_format(2)}} 
                                        {% endif %}
                                     {% else %}
                                        ₹{{ total | number_format(2) }}
                                    {% endif %}
                                    <br> 
                                    {%  set gsttotal = ( total / 100) * 18 %}                                    
                                    <span>₹{{ gsttotal| number_format }}.00</span>                                                                 
                                </strong>                                 
                            </li> #}
                            {%  set realtotal = total %}
                            <li class="list-group-item d-flex justify-content-between">
                                {% if app.request.get('usewalet') and app.request.get('usewalet')<= waltebalanceold and app.request.get('usewalet') < total %}
                                    <div >
                                        <h6 class="my-0">Total</h6>                                
                                        <p class="my-0" >Wallet balance </p>
                                        <p class="my-0" >Gross Value </p>
                                        <p class="my-0" id="gst" ></p>                                   
                                    </div>
                                    <strong>
                                        {% if app.request.get('usewalet') %}
                                            {% if app.request.get('usewalet')> waltebalanceold %}
                                                ₹{{ total | number_format(2) }}
                                            {% else %}
                                                ₹{{ total | number_format(2) }}<br>
                                                {%  set total = total - app.request.get('usewalet') %}
                                                <span style="color: 
                                                red">-{{app.request.get('usewalet')| number_format(2)}}</span><a href="/checkout" style="color: 
                                                red"> <i class="fa fa-times"></i> </a>
                                                <br>
                                                <hr style="margin-top: 0px;margin-bottom: 0px;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
                                                ₹{{ total| number_format(2)}} 
                                            {% endif %}
                                        {% else %}
                                            ₹{{ total | number_format(2) }}
                                        {% endif %}
                                        <br> 
                                        {%  set gsttotal = ( total / 100) * 18 %}
                                        {%  set cgst = ( gsttotal / 2) %} 
                                        <p class="my-0" id="price"></p>                                   
                                        {# <span>₹{{ gsttotal| number_format }}.00</span>                                                                  #}
                                    </strong>
                                {% elseif discount != null %}
                                    <div >
                                        <h6 class="my-0">Total</h6>                                
                                        <p class="my-0" >Promocode </p>
                                        <p class="my-0" >Gross Value </p>
                                        <p class="my-0" id="gst" ></p>                                   
                                    </div>
                                    <strong>                                                                                                                                   
                                        ₹{{ total | number_format(2) }}<br>
                                        
                                        <span style="color: 
                                        red">-{{discount}}%</span><a href="/checkout" style="color: 
                                        red"> <i class="fa fa-times"></i> </a>
                                        <br>
                                        {%  set totaldis = ( total / 100) * discount %}
                                        {%  set total = total - totaldis %}
                                        <hr style="margin-top: 0px;margin-bottom: 0px;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
                                        ₹{{ total| number_format(2)}}                                                                                                                               
                                        <br> 
                                        {%  set gsttotal = ( total / 100) * 18 %}
                                        {%  set cgst = ( gsttotal / 2) %} 
                                        <p class="my-0" id="price"></p>                                   
                                        {# <span>₹{{ gsttotal| number_format }}.00</span>                                                                  #}
                                    </strong>
                                    
                                {% else %}
                                    <div >
                                        <h6 class="my-0">Total</h6>                                  
                                        <p class="my-0" id="gst"></p> 
                                    </div> 
                                    <strong>
                                        ₹{{ total | number_format(2) }}                                    
                                        <p class="my-0" id="price"></p> 
                                        {# <br>  #}
                                        {%  set gsttotal = ( total / 100) * 18 %}
                                        {%  set cgst = ( gsttotal / 2) %}                                     
                                        {# <span>₹{{ gsttotal| number_format }}.00</span>                                                                  #}
                                    </strong> 
                                {% endif %}
                            </li>
                            {% if app.request.get('usewalet') %}
                                {% if app.request.get('usewalet') > waltebalanceold %}
                                    <div class="list-group-item d-flex justify-content-between">
                                            <span style="color: red">You don’t have enough Wallet Balance</span><br>                                    
                                    </div>                                   
                                {% endif %}
                                {% if app.request.get('usewalet') >= realtotal %}
                                    <div class="list-group-item d-flex justify-content-between">
                                    {{total}} {{app.request.get('usewalet')}}
                                            <span style="color: red">Points available for redemption are restricted to the price of service purchased</span><br>                                    
                                    </div>                                   
                                {% endif %}
                                

                            {% endif %}
                            
                            <li class="list-group-item d-flex justify-content-between">
                                <div >
                                    <h6 class="my-0">Grand Total</h6>                                    
                                </div> 
                                <strong>                                                                           
                                        {%  set gsttotal = ( total / 100) * 18 %}
                                        {%  set grandtotal = gsttotal + total %}
                                       ₹{{ grandtotal| number_format }}.00                                                                
                                </strong>
                                
                            </li>
                        </ul>
                        {% if waltebalanceold |length >0 %}
                            <form class="card p-2">
                                <div class="input-group">
                                    <input type="hidden" class="form-control" id="nameofid" name="statte" placeholder="Use your Wallet Balance">
                                    <input type="text" class="form-control" name="usewalet" placeholder="Use your Wallet Balance">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-common">Redeem</button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}

                        <form class="card p-2">
                            <div class="input-group">
                                <input type="text" name="promo" value="{% if app.request.get('promo') %}{{app.request.get('promo')}}{% endif %}" class="form-control" placeholder="Promo code">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-common">Redeem</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--  <div class="widget widget-popular-posts">
                        <h4 class="widget-title">Recent Posts</h4>
                        <ul class="posts-list">
                            <li>
                                <div class="widget-thumb">
                                    <a href="#"><img src="assets/img/blog/thumb1.jpg" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="#">Eum Iriure Dolor Duis Autem</a>
                                    <span><i class="icon-calendar"></i>June 21, 2018</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="widget-thumb">
                                    <a href="#"><img src="assets/img/blog/thumb2.jpg" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="#">Consectetuer Adipiscing Elit</a>
                                    <span><i class="icon-calendar"></i>June 18, 2018</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="widget-thumb">
                                    <a href="#"><img src="assets/img/blog/thumb3.jpg" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="#">Et Leggings Fanny Pack</a>
                                    <span><i class="icon-calendar"></i>June 17, 2018</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="widget-thumb">
                                    <a href="#"><img src="assets/img/blog/thumb4.jpg" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="#">Exercitation Photo Booth</a>
                                    <span><i class="icon-calendar"></i>June 12, 2018</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <div class="widget-thumb">
                                    <a href="#"><img src="assets/img/blog/thumb5.jpg" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="#">Eum Iriure Dolor Duis Autem</a>
                                    <span><i class="icon-calendar"></i>June 9, 2018</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">Advertisement</h4>
                        <div class="add-box">
                            <img src="assets/img/img1.jpg" alt="">
                        </div>
                    </div> -->
                </aside>
                <!--  <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Product name</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted">$12</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Second product</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted">$8</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Third item</h6>
                                <small class="text-muted">Brief description</small>
                            </div>
                            <span class="text-muted">$5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Promo code</h6>
                                <small>EXAMPLECODE</small>
                            </div>
                            <span class="text-success">-$5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong>$20</strong>
                        </li>
                    </ul>
                    <form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Promo code">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary">Redeem</button>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing Details </h4>
                  
                        {{ form_start(form,{'attr': {'class': 'login-form', 'id': 'checkout-form'}}) }}
                        <div class="form-group">
                            <div class="input-icon">
                                
                                {{ form_row(form.name,{'attr': {'class': 'form-control'}}) }}
                                {# <input type="text" id="Name" class="form-control" name="email" placeholder="Username"> #}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.email,{'attr': {'class': 'form-control input-md'}}) }}
                            <div class="invalid-feedback">
                                Please enter your Email
                            </div>
                        </div>
                         
                        <div class="mb-3">                        
                            {{ form_row(form.phoneno,{'attr': {'class': 'form-control '}}) }}                             
                        </div>
                        <div class="mb-3">                        
                            {{ form_row(form.state,{'attr': {'class': 'form-control' }}) }}                            
                        </div>
                        {# <div class="mb-3">
                        <div>
                            <label for="form_email" class="required">State</label>
                            <select name="state" id="state" class="form-control">
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                            </select>
                            </div>
                        </div> #}
                        <div class="mb-3">                        
                            {{ form_row(form.gstno,{'attr': {'class': 'form-control'}}) }}                            
                        </div>
                        {# <div class="mb-3" style="display:none;">                        
                            {{ form_row(form.createat,{'attr': {'class': 'form-control'}}) }}                            
                        </div> #}
                        <div class="mb-3">                        
                            {{ form_row(form.grossvalue,{'attr': {'class': 'form-control','value':total}}) }}
                            {{ form_row(form.gstamount,{'attr': {'class': 'form-control','value':gsttotal| number_format}}) }}
                            {{ form_row(form.totalvalue,{'attr': {'class': 'form-control','value':grandtotal| number_format}}) }}                            
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.address,{'attr': {'class': 'form-control input-md'}}) }}
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        {{ form_row(form.save,{'attr': {'class': 'btn-block btn btn-common disable'}}) }}                       
                        {{ form_end(form) }}
                        

                    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                    <script>
                    var razorpayOrderId = "{{ razorpayOrderId }}"; // Get the Razorpay order ID from the PHP variable

                    // Handle form submission
                   document.getElementById('checkout-form').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent form submission

  // Show the preloader spinner
  var preloader = document.getElementById("preloader");
  preloader.style.display = "block";

  // Create a Razorpay popup
  var options = {
    key: 'rzp_test_7fBzWp1ySpgsgJ', // Replace with your Razorpay API key
    amount: {{ grandtotal * 100 }}, // Convert the total to the smallest currency unit (in paise)
    currency: 'INR', // Replace with your currency code
    order_id: razorpayOrderId,
    name: "The Finanzi ",
    handler: function(response) {
      // Handle successful payment
      console.log(response);

      // Submit the form asynchronously
      var form = document.getElementById('checkout-form');
      var formData = new FormData(form);
      var xhr = new XMLHttpRequest();
      xhr.open(form.method, form.action, true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          // Hide the preloader spinner
          preloader.style.display = "none";

          if (xhr.status === 200) {
            // Form submission successful
            // Redirect to a success page or perform any other desired action
            window.location.href = "{{ path('app_dashboard') }}";
          } else {
            // Form submission failed
            preloader.style.display = "none";
            console.log('Form submission failed');
          }
        }
      };
      xhr.send(formData);
    },
    prefill: {
      // Pre-fill customer details if needed
      name: "{{ form.name.vars.value }}",
      email: "{{ form.email.vars.value }}",
      contact: "{{ form.phoneno.vars.value }}",
    },
    modal: {
      ondismiss: function() {
        // Razorpay popup minimized or closed
        // Hide the preloader spinner
        preloader.style.display = "none";
      }
    }
  };

  var rzp = new Razorpay(options);
  rzp.open(); // Open the Razorpay popup
});


                    </script>

                </div>
            </div>
            <footer class="text-muted text-center text-small" style="padding-top:50px">
                <p class="mb-1">&copy; 2023 The Finanzi</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{{ path('app_privacy') }}">Privacy</a></li>
                    <li class="list-inline-item"><a href="{{ path('app_terms') }}">Terms</a></li>
                    <li class="list-inline-item"><a href="{{ path('app_refund') }}">Refund</a></li>
                </ul>
            </footer>
        </div>
        <!-- <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="error-content">
                        <div class="error-message">
                            <h2>404</h2>
                            <h3>We're sorry, but we can't find the page you were looking for.</h3>
                            <p>It's probably some thing we've done wrong but now we know about it and we'll try to fix it. In the meantime, try one of these options</p>
                        </div>
                        <form class="form-error-search">
                            <input type="search" name="search" class="form-control" placeholder="Search Here">
                            <button class="btn btn-common btn-search" type="button">Search Now</button>
                        </form>
                        <div class="description">
                            <span>Or Goto <a href="#">Homepage</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    {% include  'footer.html.twig' %}
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
</body>
<script>

$('#gst').append('IGST 18%');
$('#price').append('₹{{ gsttotal| number_format }}.00');
$("#form_state").change(function(){
    $("#form_save").removeClass("disable");
    len = this.value ;
    document.getElementById("nameofid").value = len;
    if(len == '35'){
        $("#gst").empty();
        $("#price").empty();
        $('#gst').append('CGST 9%<br> SGST 9%');
        $('#price').append('₹{{ cgst| number_format }}.00<br> ₹{{ cgst| number_format }}.00');
    }else{
        $("#gst").empty();
        $("#price").empty();
        $('#gst').append('IGST 18%');
        $('#price').append('₹{{ gsttotal| number_format }}.00');
    }

});

const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const firstParamValue = urlParams.get('statte');
document.getElementById("form_state").value = firstParamValue;
document.querySelector("#state").value = firstParamValue;
if(firstParamValue == 'Uttarakhand'){
        $("#gst").empty();
        $("#price").empty();
        $('#gst').append('CGST 9%<br> SGST 9%');
        $('#price').append('₹{{ cgst| number_format }}.00<br> ₹{{ cgst| number_format }}.00');
    }
</script>

{% endblock %}