{% extends 'getrout.html.twig' %}
{% block title %}About Us!{% endblock %}
{% block body %}
<style>
.rating {
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: inline-block;
}

.rating .star {
    position: relative;
    float: left;
    width: 1.4rem;
    height: 1.2rem;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    border: 0;
    background: transparent;
}

.rating .star:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    transform: translate(-50%, -50%);
    content: "\f006";
    color: #777;
}

.rating--read-only .star--full:before {
    content: "\f005";
    color: #f7ca0a;
}

.rating--read-only .star--half:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    transform: translate(-50%, -50%);
    content: "\f089";
    color: #e3cf7a;
}

/* Floating this right, means that the stars
 * fill from the left, because of the successor 
 * rule defined below. @see https://css-tricks.com/star-ratings/
 */
.rating--interactive .star {
    float: right;
}

.rating--interactive .star:hover {
    cursor: pointer;
}

.rating--interactive .star:hover:before,
.rating--interactive .star:hover~.star:before {
    content: "\f005";
    color: #e3cf7a
}

.titlehead h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: right
}

.titlehead span {
    color: #32be8f;
}
</style>

<body>
    {# <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">About Us</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">About Us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <section class="testimonial section-padding">
        <div class="container section-padding">
            {# <div class="row section-padding">
                <div class="col-md-12">
                    <div class="titlehead">
                        <h1>Feedback</spen>
                        </h1>
                    </div>
                </div>
            </div> #}
            <div class="row">
                {% for Feed in Feedback %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div id="testimonials">
                        <div class="item">
                            <div class="img-thumb">                            
                                <img src="{{ asset('assets/img/user/') }}{% if Feed.icon %}{{Feed.icon}}{% else %}usericon.png{% endif %}" alt="" style="width:80px;height: 80px;">
                            </div>
                            <div class="testimonial-item">
                                <div class="content">
                                    <h5>{{Feed.username}}</h5>
                                    <p><b> Service Purchased - </b>{{Feed.proname}} </p>
                                    <div class="info-text" style="margin-top:0px;">
                                        <div class="review" itemscope itemtype="http://schema.org/Review">
                                            <div class="rating rating--read-only" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                                                <div aria-hidden="true">
                                                    {% if Feed.reating == 5 %}
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    {% endif %}
                                                    {% if Feed.reating == 4 %}
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star "></span>
                                                    {% endif %}
                                                    {% if Feed.reating == 3 %}
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star "></span>
                                                    <span class="star "></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="description">{{ Feed.disreviwe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include  'footer.html.twig' %}
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}
</body>
{% endblock %}