{% extends 'base.html.twig' %}
{% block title %}Feedback!{% endblock %}
{% block body %}
<style>
.rating {
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: inline-block;
}

.rating .star {
    position: relative;
    float: left;
    width: 1.4rem;
    height: 1.2rem;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    border: 0;
    background: transparent;
}

.rating .star:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    transform: translate(-50%, -50%);
    content: "\f006";
    color: #777;
}

.rating--read-only .star--full:before {
    content: "\f005";
    color: #f7ca0a;
}

.rating--read-only .star--half:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    transform: translate(-50%, -50%);
    content: "\f089";
    color: #e3cf7a;
}

/* Floating this right, means that the stars
 * fill from the left, because of the successor 
 * rule defined below. @see https://css-tricks.com/star-ratings/
 */
.rating--interactive .star {
    float: right;
}

.rating--interactive .star:hover {
    cursor: pointer;
}

.rating--interactive .star:hover:before,
.rating--interactive .star:hover~.star:before {
    content: "\f005";
    color: #e3cf7a
}

.titlehead h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: right
}

.titlehead span {
    color: #32be8f;
}
.img-thumb img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
/* .testimonial-item {
    height: 319px
} */

.modal-dialog {max-width: 700px;margin: 130px auto;}
.modal-body {position:relative;padding:0px;}
.close {position:absolute;right:-30px;top:0;z-index:999;font-size:32px;font-weight: normal;color:#32be8f;opacity:1;background:white;}
</style>

<body>
    {# <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">About Us</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">About Us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <section class="testimonial section-padding">
        <div class="container section-padding">
            {# <div class="row section-padding">
                <div class="col-md-12">
                    <div class="titlehead">
                        <h1>Feedback</spen>
                        </h1>
                    </div>
                </div>
            </div> #}
            <div class="row">
                {% for Feed in Feedback %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div id="testimonials">
                        <div class="item">
                            <div class="img-thumb">                            
                                <img src="{{ asset('assets/img/user/') }}{% if Feed.icon %}{{Feed.icon}}{% else %}usericon.png{% endif %}" alt="" style="width:80px;height: 80px;">
                            </div>
                            <div class="testimonial-item">
                                <div class="content">
                                    <h5>{{Feed.username}}</h5>
                                    <p><b> Service Purchased - </b>{{Feed.proname}} </p>
                                    <div class="info-text" style="margin-top:0px;">
                                        <div class="review" itemscope itemtype="http://schema.org/Review">
                                            <div class="rating rating--read-only" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                                                <div aria-hidden="true">
                                                    {% if Feed.reating == 5 %}
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    {% endif %}
                                                    {% if Feed.reating == 4 %}
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star "></span>
                                                    {% endif %}
                                                    {% if Feed.reating == 3 %}
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star star--full"></span>
                                                    <span class="star "></span>
                                                    <span class="star "></span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="description">{{ Feed.disreviwe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="testimonial section-padding">
        <div class="container">
            <div class="row">    
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                
                    <div class="titlehead" style="text-align:right !important;">
                        <h1>Client <span>Testimonial.</span> </h1>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="testimonialsfeed" class="owl-carousel">
                        {# <div class="item">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img1.png" alt="">
                            </div>
                            <div class="testimonial-item">
                                <div class="content">
                                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                                    <div class="info-text">
                                        <h2><a href="#">Josh Rossi</a></h2>
                                        <h4><a href="#">CEO of Fiverr</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div> #}
                        <div class="item">
                            <div class="item">
                                <div class="img-thumb">
                                    <img src="assets/img/testimonial/neha.jpeg" alt="">
                                </div>
                                <div class="testimonial-item" >
                                    <div class="content">
                                        <p class="description">I always file my tax return with finanzi, not only do they file my return but also helps me in tax planning which saves a good amount of tax. I always plan my investments with them which has always been profitable</p>
                                        <div class="info-text">
                                            <h2><a href="#">Neha Gupta</a></h2>
                                            <h4><a href="#">Deloitte, Manager</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                <div class="img-thumb">
                                    <img src="assets/img/testimonial/Ayush.jpeg" alt="">
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">My monthly GST filings and year end tax return filing is handled by finanzi and they  deliver the best quality service. My filing has never been late even for a day and they are very prompt to ask for documentation to ensure completion of service on time.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Ayush Jain</a></h2>
                                            <h4><a href="#">Proprietor, Arihant Traders</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                <div class="img-thumb">
                                    <img src="assets/img/testimonial/Shikha.jpeg" alt="">
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">I availed tax return service from finanzi and the experience was amazing. The filing was seamless and they delivered within stipulated time period. They also assisted me in tax audit requirement. I highly recommend their services to everyone.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Vaidya Shikha Prakash</a></h2>
                                            <h4><a href="#">Ayurvedic Practitioner</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                <div class="img-thumb">
                                    <img src="assets/img/testimonial/robin.jpeg" alt="" style="width:80px;height:80px;">
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">Finanzi has been an integral part of Valley Culture since day 1. They handle all monthly & annual closing financial procedures ranging from strategy building, cash flows, stock audit etc. They even helped us raise grant under Startup Uttarakhand.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Robin Nagar</a></h2>
                                            <h4><a href="#">Co-founder, Valley Culture</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                
                                <div class="img-thumb">                            
                                   <a href="#" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/qK2947tj4BM" data-target="#myModal"> <img src="assets/img/testimonial/icon.png" alt="" style="width:80px;"></a>
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">Finanzi has been my financial advisor from day one of my business. Their work ethics are commendable. Always delivered work within stipulated time and you can connect with them freely anytime and they are always able to support in the best possible manner.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Akshat Parashar</a></h2>
                                            <h4><a href="#">CEO, Qinda</a></h4>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="item">
                            <div class="item">
                                
                                <div class="img-thumb">                            
                                   <a href="#" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/b6URAYhlFYY" data-target="#myModal"> <img src="assets/img/testimonial/icon.png" alt="" style="width:80px;"></a>
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">Finanzi has helped us in every financial aspect of our business, ranging from business registration, startup registration, fund raising, book-keeping, monthly and annual compliances, taxation. We are so proud to be a customer of Finanzi.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Yash Gupta</a></h2>
                                            <h4><a href="#">CEO, Aticx</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>        
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include  'footer.html.twig' %}
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}
</body>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function() {
        // get video source from data-src button
        var $videoSrc;  
        $('.video-btn').click(function() {
            $videoSrc = $(this).data( "src" );
        });
        console.log($videoSrc);
        // autoplay video on modal load  
        $('#myModal').on('shown.bs.modal', function (e) {
        // youtube iframe configuration and settings
        $("#video").attr('src',$videoSrc + "?autoplay=1&rel=0&controls=1&loop=1&modestbranding=1"); 
        })
        // stop playing the youtube video when modal closed
        $('#myModal').on('hide.bs.modal', function (e) {
            // stop video
            $("#video").attr('src',$videoSrc); 
        }) 
    });
</script>

{% endblock javascripts %}