{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
<style>
    #development-img img {
    height:440px;
}
    #intro-info {
    width:50%;
    float: left;
    margin-top: 5.8%;
}

    #intro-info h1 {
        font-size: 50px;        
        font-weight: 600;
            
    }

    #intro-info span {
        display: block;
        font-family: raleway;
        font-weight: 600;
        padding: 0 0 55px;
        font-size: 23px;
    }
    #development-img {
    width:50%;
    text-align: right;
}

#word{
    font-size: 80px !important;
    color: #32be8f;
    text-transform: uppercase;
}

#serviceword{
    color: #32be8f;
}
.formdesign form{
    border: 10px solid #5bb7c5;
    border-radius: 50px;
}

.formdesign{
    text-align: center;
}
.formdesign input{
    border: 2px solid black;
    border-radius: 50px;
}
.dis{    
    height: 60px;
}
.formdesign select{
    border: 2px solid black;
    border-radius: 50px;
    height: 50px !important;
}
.loginfirst{
        border-radius: 50px;
        border: none;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    font-weight: 700;
    background-image: linear-gradient(to right, #32be8f, #5bb7c5, #32be8f);
    background-size: 200%;

}
#submit{
    border-radius: 50px;
        border: none;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    font-weight: 700;
    background-image: linear-gradient(to right, #32be8f, #5bb7c5, #32be8f);
    background-size: 200%;

}
.titlehead h1{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}
.titlehead span{
    color: #32be8f;
}

/* Web Font */
* {
    font-family: 'Titillium Web', sans-serif; 
}

/* Relative positioning*/
#image-map {
    position: relative;
}

/* Hide the original tooltips contents */
.pin {
    display: none;
}

/* Begin styling the tooltips and pins */
.tooltip-up, .tooltip-down {
    position: absolute;
    background: url(assets/img/background/19362653.jpg);
    width: 25px;
    height: 37px;
}

.tooltip-down {
    background-position: 0 -137px;
}

.tooltip {
    display: none;
    width: 200px;
    cursor: help;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 999;
    margin-left: -115px;
    padding:15px;
    color: #222;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0,0,0,.7);
    background: #fff1d3;
    background: linear-gradient(top, #fff1d3, #ffdb90);         
}

.tooltip::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid #fff1d3;
    border-left: 10px solid transparent;
    border-right : 10px solid transparent;
}

.tooltip-down .tooltip {
    bottom: 12px;
    top: auto;
}

.tooltip-down .tooltip::after {
    bottom: -10px;
    top: auto;
    border-bottom: 0;
    border-top: 10px solid #ffdb90;
}

.tooltip h2 {
    font: bold 1.3em 'Trebuchet MS', Tahoma, Arial;
    margin: 0 0 10px;
}

.tooltip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list{
    text-align: center;
}
.list ul li button{
    background: white;
    border: 2px solid black;
    border-radius: 25px 30px 0 15px;
    font-size: 20px;
    padding: 10px 40px;
    width: 250px;
}
.list ul li{
padding: 20px;
}
.maincon{
    vertical-align: middle;
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    height: 92%;
    margin: 20px;
    font-size: 20px;
}
.maincon p{
    font-size: 16px;
    display: none;
    }
.list ul li button:focus {
  background:linear-gradient(to right, #32be8f, #5bb7c5, #32be8f);
}
h5{
    color: black;
    font-weight: 800;
    font-size: 23px;
}

.wrap {
  width:100%;
  margin:auto;
  position:relative;
}

.area {
  width:100%;
  height:100%;
  
}

.stretch {
  width:100%;
  height:100%;
}

.display-position {
  position:absolute;
  top: 10%;
    left: 30%;
}


div.display-position a {
    text-decoration: none;
    color: black;
    cursor: default;
    font-weight: normal;
}

div.display-position a span {
    visibility: hidden; 
    position: absolute;
    left: 6em;
    top: 11.7em;
    background: #ffff;
    width: 17em;
    border-radius: 30px;
    border: 4px solid #00c194;
    font-size: 20px;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
    padding: 10px;
}

div.display-position a:hover span {
    visibility: visible;
}


.display-position-invest {
  position:absolute;
    top: 48%;
    left: 20%;
}

div.display-position-invest a {
    text-decoration: none;
    color: black;
    cursor: default;
    font-weight: normal;
}

div.display-position-invest a span {
    visibility: hidden; 
    position: absolute;
    left: 12em;
    top: -2.3em;
    background: #ffff;
    width: 17em;
    border-radius: 30px;
    border: 4px solid #08b9c7;
    font-size: 20px;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
    padding: 10px;
}

div.display-position-invest a:hover span {
    visibility: visible;
}

.display-position-earn{
    position:absolute;
    top: 45%;
    left: 62%;
}

div.display-position-earn a {
    text-decoration: none;
    color: black;
    cursor: default;
    font-weight: normal;
}

div.display-position-earn a span {
    visibility: hidden; 
    position: absolute;
    left: -15em;
    top: -2.3em;
    background: #ffff;
    width: 17em;
    border-radius: 30px;
    border: 4px solid #008282;
    font-size: 20px;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
    padding: 10px;
}

div.display-position-earn a:hover span {
    visibility: visible;
}

.logoimg img{
 width: 280px !important;
}

.counter{
    text-align: center;
    
    padding: 12px 10px !important;
    box-shadow: 0 0 15px rgba(143, 143, 143, .18);
}




.wrapper {
padding-top: 120px;
}
.item{
    text-align:center;
}
.card-img-top {
/* box-shadow: 0 5px 10px rgba(0,0,0,0.5); */
width:60% !important;

}
.card-body{
    
    text-align: center;
    box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5);
    
}
.card-body h6 {
font-size: 14px;
text-transform: uppercase;
color: deeppink;
}
.card-title {
text-transform: uppercase;
font-weight: bold;
font-size: 24px;

}

.tetx-div{
    vertical-align: middle;
    height :190px;
}



@media (max-width: 800px){
    .mx-30{
        margin-bottom: 30px;
    }
}
.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color: #32be8f !important;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}
.box1{
    border-radius:20px;
    margin:0px 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(143, 143, 143, .18);
}

.arrowBox{
  position: relative;
    width: 170px;
    background: linear-gradient(to right, #32be8f, #5bb7c5, #32be8f);
    height: 60px;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #000;
    font-size: 23px;
    font-weight: 600;
    padding-top:5px;
}

.arrowBox a{
  color:#fff;
}

/*top arrow*/

.arrow-top:before{
  position: absolute;
  top: -10px;
  left:50%;
  margin-left: -10px;
  content:"";
  display:block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0085D1; 
}

/*bottom arrow*/

.arrow-bottom:after{
  position: absolute;
  bottom: -10px;
  left:50%;
  margin-left: -10px;
  content:"";
  display:block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0085D1; 
}

/*right arrow*/

.arrow-right:after{
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #32be8f; 
}

/*left arrow*/

.arrow-left:before{
    content: "";
    background:;
    position: absolute;
    left: -20px;
    top: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 20px solid #32be8f; 
}
.flex-container {
  display: flex;
  justify-content: center

}

.flex-container .textflex {
height:60px;
background:#32be8f5c;
  margin-bottom:30px; 
  text-align:center;
  color:#fff;
  padding-left:20px;
}

ol {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 30px !important;
}
ol > li + li {
    margin-top: 1rem !important;
}


details[open],
details summary,
.d-imgs {
    display: block;
    width: 100% !important;
    border: 1px solid #e8e8e1;
}

details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    cursor: pointer;
    color: black;

    font-size: 1rem;
}

details summary:after {
    content: "›";
    font-size: 2rem;
    transition: 0.3s;
    transform: rotate(90deg);
}

/* transitions */
details {

    transition: height 0.3s ease;
}

details[open] {}

details p {
    height: fit-content;
    padding: 1rem;
}

details div {
    height: fit-content;
    padding: 1rem;
}

details[open] summary:after {
    transform: rotate(-90deg);
}

.buy{
    margin-top: 30px;
}
.buyhead{
    display: flex;
    align-items: center;
    border: 1px solid #b1acac;
    box-shadow: 0 0 15px rgba(143, 143, 143, .18);

}

.header-design{
    background: linear-gradient(to right, #32be8f, #5bb7c5, #32be8f);
    padding: 16px;
    text-align: center;
    box-shadow: 0 0 15px rgba(143, 143, 143, .18);
     
}
.header-design h4{
margin-bottom: 0px;

font-size: 25px;
width: 100px;
}
.text-design{
        padding-left: 10px;
}


/* ----- The actual thing ----- */

.stepborder{
    width: 100%;
    height: 100%;
    background: white;
    /*background: linear-gradient(-135deg, transparent 55px, #f3f3f3 0);*/
    box-shadow: 0 0 15px rgba(143, 143, 143, .18);
    /*border-top-right-radius: 50%;*/
    /*border-radius: 31% 69% 49% 51% / 50% 38% 62% 50% ;*/
    border-radius: 0px 128px 0px 128px;
-moz-border-radius: 0px 128px 0px 128px;
-webkit-border-radius: 0px 128px 0px 128px;
border: 0px solid #000000;
}
/*.stepborder::after{
    content: '';
    position: absolute;
    border-right: 1px solid grey;
    height: 100px;
    width: 2px;
    z-index: 9;
    top: 0;
    right: 39px;
    transform: rotate(-45deg);
}*/
/* Variables */
.myflex{
    display: flex!important;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

:root {
  --rating-size: 6rem;
  --bar-size: 10px;
  --background-color:#ffff;
  --rating-color-default: #5bb7c5;
  --rating-color-background: #ffff;
  --rating-color-good: #32be8f;
  --rating-color-meh: #ffdb72;
  --rating-color-bad: #00619b;
  --rating-color-step: #673ab7;
  --rating-color-step6: #ff9f00;
  --rating-color-step7: #8bc34a; 
  
}

/* Rating item */
.rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  
  background: var(--rating-color-default);
  color: var(--rating-color-default);
  width: var(--rating-size);
  height: var(--rating-size);

  /* Basic style for the text */
  font-size: calc(var(--rating-size) / 3);
  line-height: 1;
}

/* Rating circle content */
.rating span {
  position: relative;
  display: flex;
  font-weight: bold;
  z-index: 2;
}

.rating span small {
  font-size: 0.5em;
  font-weight: 900;
  align-self: center;
}

/* Bar mask, creates an inner circle with the same color as thee background */
.rating::after {
  content: "";
  position: absolute;
  inset: var(--bar-size);
  background: var(--background-color);
  border-radius: inherit;
  z-index: 1;
}

/* Bar background */
.rating::before {
  content: "";
  position: absolute;
  inset: var(--bar-size);
  border-radius: inherit;
  box-shadow: 0 0 0 1rem var(--rating-color-background);
  z-index: -1;
}

/* Classes to give different colors to ratings, based on their score */
.rating.good {
  background: var(--rating-color-good);
  color: var(--rating-color-good);
}

.rating.meh {
  background: var(--rating-color-meh);
  color: var(--rating-color-meh);
}

.rating.bad {
  background: var(--rating-color-bad);
  color: var(--rating-color-bad);
}
.rating.step {
  background: var(--rating-color-step);
  color: var(--rating-color-step);
}
.rating.step6 {
  background: var(--rating-color-step6);
  color: var(--rating-color-step6);
}
.rating.step7 {
  background: var(--rating-color-step7);
  color: var(--rating-color-step7);
}
.imgstep{
    margin: 15px 0px;
}
.steptext p{
    font-size: 25px;
    text-transform: capitalize;
}

.hidden { display: none;}
.readmore { margin: 0 5px;}


.flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    height: 400px;
    
}

.flip-box-front,
.flip-box-back {
    /* text-transform: capitalize; */
    background-color: white;
    background-size: cover;
    background-position: center;
     height: 400px;
     box-shadow: 0 0 15px rgba(143, 143, 143, .18);
    border-radius: 0px 128px 0px 128px;
-moz-border-radius: 0px 128px 0px 128px;
-webkit-border-radius: 0px 128px 0px 128px;
border: 0px solid #000000;
    min-height: 250px;
    -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px 128px 0px 128px;
-moz-border-radius: 0px 128px 0px 128px;
-webkit-border-radius: 0px 128px 0px 128px;
border: 0px solid #000000;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;

    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    top: 50%;
}

.flip-box-header {
    font-size: 25px;
}

.flip-box p {
    font-size: 16px;
    line-height: 1.5em;
}

.flip-box-img {
    margin-top: 25px;
}

.flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
}

 .view-service{
    display: table;
    position: relative;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 100%;
    color: #2C2E30;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}
 .view-service:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -3px;
    height: 3px;
    width: 140px;
    background: #5bb7c5;
    margin: 0 auto;
}

    </style>
{% endblock %}
{% block body %}

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

        $("#allshow").mouseenter(function() {
            $("#fisthide").hide("");
            $("#Firstshow").show("");

        });
        $("#allshow").mouseleave(function() {
            $("#fisthide").show("");
            $("#Firstshow").hide("");
        });
    });
    </script>


    <section class="cta section-padding" id="intro" >
        <div class="container">
            <div class="row" style="padding-top: 40px;">
                <div class="col-md-6" >
                    <div class="titlehead" style="padding-left: 15px; padding-top: 25px;">
                        <h1 style="line-height:1.2;">Your one stop <br> destination to <br> become financially</h1>
                        <h1 class="year" id="word">Aware</h1>
                    </div>
                </div>
                <div class="col-md-6" >
                    <img src="assets/img/background/Imagehead.png" style="width:100%;"  />
                </div>
            </div>
        </div>
    </section>

    <div class="container section-padding">
            <div class="intro">
                <div class="titlehead" style="text-align:right;">
                    <h1>Our Top <span>Services</span> </h1>
                </div>
                
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box1 card-body"><img class="rounded-circle" src="assets/img/background/topser1.png" >
                        <h5 class="name">Startup India Registration</h5>
                        
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius  </p>
                        <div class="social"><a href="#" style="color: #32be8f;">Read More</a> </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box1 card-body"><img class="rounded-circle" src="assets/img/background/topser2.png">
                        <h5 class="name">Business <br> Registration</h5>
                       
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius </p>
                         <div class="social"><a href="#"  style="color: #32be8f;">Read More </a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box1 card-body"><img class="rounded-circle" src="assets/img/background/topser3.png">
                        <h5 class="name">income tax <br> retion</h5>
                        
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. 
                        </p>
                         <div class="social"><a href="#"  style="color: #32be8f;">Read More</a> </div>
                    </div>
                </div>
            </div>
        </div>

    <section class="cta section-padding" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="assets/img/background/homet.gif" alt="Mobile App Development" title="Mobile App Development"/ style="width: 100%;">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="titlehead">
                        <h1>Services built for <spen class="year" id="serviceword">Startups</spen></h1>                        
                    </div>
                    <div class="row" style="padding-top:25px">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                            <div style="padding:0px 0px;  ">
                                <a href="/blogs/4">
                                    <img src="assets/img/background/Icon1.png" height="120px;">
                                    <h5>Book Keeping</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
                            <div style="padding:0px 0px;  ">
                                <a href="/blogs/6">
                                    <img src="assets/img/background/Icon2.png" height="120px;">
                                    <h5>Business Licenses</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                            <div style="padding:0px 0px;  ">
                            <a href="/blogs/8">
                                <img src="assets/img/background/icon3.png" height="120px;">
                                <h5>Taxation</h5>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:25px">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                            <div style="padding:0px 0px;  ">
                            <a href="/blogs/6">
                                <img src="assets/img/background/Icon4.png" height="120px;">
                                <h5>Statutory <br> Compliances</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                            <div style="padding:0px 0px;  ">
                                 <a href="/blogs/5">
                                    <img src="assets/img/background/icon5.png" height="120px;">
                                    <h5>Virtual <br> CFO</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        
    

    <section class="cta section-padding">
        <div class="container">
            <div class="titlehead" style="text-align:right;">
                <h1>Make your <span>MOVE!</span> </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-center">
                    <img src="assets/img/background/buysection.png" alt="Our Locations" style="width: 70%;" >                    
                </div>
                <div class="col-md-7">
                   <div class="buy">
                       <div class="buyhead" >
                           <div class="header-design"> <h4> BUY</h4></div>
                           <div class="text-design"><p>Avail our top-notch financial services, get clarity on all financial aspects and never ever look back on your finances! From business registration to investment and tax saving planning – we offer every kind of financial support your business needs.</p></div>
                       </div>
                   </div> 
                   <div class="buy">
                       <div class="buyhead" >
                           <div class="header-design"> <h4> EARN</h4></div>
                           <div class="text-design"><p>Join our affiliate program and refer Fintastic Hub to your business pals! Recommend once; generate passive income for life! You also earn cashback for every service you avail. Your wallet money adds up every year if you haven’t redeemed your cash back. Earn and Save with us!</p></div>
                       </div>
                   </div> 
                   <div class="buy">
                       <div class="buyhead"  style="height:110px" >
                           <div class="header-design"> <h4> INVEST</h4></div>
                           <div class="text-design"><p>To make investments a minimum risk for you, we partner with major corporations worldwide. When you invest via Fintastic hub,we make it a  smooth, hassle-free process for you and ensure high returns at low risk.</p></div>
                       </div>
                   </div>     
                </div>
            </div>
        </div>
    </section>

    <section class="cta section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="titlehead" style="text-align:right;">
                        <h1>Our <span> 7 </span> Simple Step Process  </h1>
                    </div>
                    <div id="stepdiv" class="owl-carousel">
                        <div class="item">
                            <div class="flip-box">
                                <div class="flip-box-front text-center" >
                                    <div class="stepborder">
                                    <div class="myflex">
                                        <div class="rating"><span>01</span></div>
                                        <div class="imgstep" style="padding:0px 0px;  ">
                                            <img src="assets/img/category/step1.png">               
                                        </div>
                                        <div class="steptext">
                                            <h5>Purchase</h5>
                                        </div>
                                        
                                    </div>
                                </div>
                                </div>
                                <div class="flip-box-back text-center" >
                                    <div class="inner color-white">
                                       <div>
                                            <p class="shortened">Explore our services and purchase your required plan through our secured payment channel. There’s a wide range of financial services you can choose from including business registration, tax filing, bookkeeping, CFO, etc. Your search is made easy with the navigation toolbar on our website.</p>
                                        </div>                               
                                    </div>
                                </div>
                            </div>
                            {# <div class="stepborder">
                                <div class="myflex">
                                    <div class="rating"><span>01</span></div>
                                    <div class="imgstep" style="padding:0px 0px;  ">
                                        <img src="assets/img/category/step1.png">               
                                    </div>
                                    <div class="steptext">
                                        <h5>Purchase</h5>
                                    </div>
                                    <div>
                                        <p class="shortened">Explore our services and purchase your required plan through our secured payment channel. There’s a wide range of financial services you can choose from including business registration, tax filing, bookkeeping, CFO, etc. Your search is made easy with the navigation toolbar on our website.</p>
                                    </div>
                                </div>
                            </div> #}
                        </div>
                        <div class="item">
                            <div class="flip-box">
                                <div class="flip-box-front text-center" >
                                    <div class="stepborder">
                                        <div class="myflex">
                                            <div class="rating good"><span>02</span></div>
                                            <div class="imgstep" style="padding:0px 0px;  ">
                                                <img src="assets/img/category/step2.png">               
                                            </div>
                                            <div class="steptext">
                                                <h5>Download your invoice</h5>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-box-back text-center" >
                                    <div class="inner color-white">
                                       <div>
                                            <p class="shortened">Once you purchase, kindly download the GST invoice that’s provided.</p>
                                        </div>                              
                                    </div>
                                </div>
                            </div>                            
                        </div> 
                        <div class="item">
                            <div class="flip-box">
                                <div class="flip-box-front text-center" >
                                    <div class="stepborder">
                                        <div class="myflex">
                                            <div class="rating meh"><span>03</span></div>
                                            <div class="imgstep" style="padding:0px 0px;  ">
                                                <img src="assets/img/category/step3.png">               
                                            </div>
                                            <div class="steptext">
                                                <h5>Upload required Documents</h5>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-box-back text-center" >
                                    <div class="inner color-white">
                                       <div>
                                            <p class="shortened">You’ll be guided with a list of documents you need to submit to get started. Please upload them to fully set up your profile and access your dashboard.</p>
                                        </div>                              
                                    </div>
                                </div>
                            </div> 
                            
                        </div>
                        <div class="item">
                            <div class="flip-box">
                                <div class="flip-box-front text-center" >
                                    <div class="stepborder">
                                        <div class="myflex">
                                            <div class="rating bad"><span>04</span></div>
                                            <div class="imgstep" style="padding:0px 0px;  ">
                                                <img src="assets/img/category/step4.png">               
                                            </div>
                                            <div class="steptext">
                                                <h5>Get your personal dashboard and track your service</h5>
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-box-back text-center" >
                                    <div class="inner color-white">
                                       <div>
                                            <p class="shortened">You can now access your personal dashboard and stay updated! You will be able to track the real-time status of the service availed. Acceptance of the documents submitted, status of onboarding call, start date of the service, expected deadline, payment status, and everything else can be easily tracked on your dashboard.</p>
                                        </div>                              
                                    </div>
                                </div>
                            </div>                             
                        </div> 
                        <div class="item">
                            <div class="flip-box">
                                <div class="flip-box-front text-center" >
                                    <div class="stepborder">
                                        <div class="myflex">
                                            <div class="rating step"><span>05</span></div>
                                            <div class="imgstep" style="padding:0px 0px;  ">
                                                <img src="assets/img/category/step5.png">               
                                            </div>
                                            <div class="steptext">
                                                <h5> Get access to a dedicated space on our cloud server</h5>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-box-back text-center" >
                                    <div class="inner color-white">
                                       <div>
                                            <p class="shortened">Each one of our clients is assigned a private cloud space where all your financial documents and data will be stored. You can access your space anytime, anywhere in the world and everything else can be easily tracked on your dashboard.</p>
                                        </div>                              
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="flip-box">
                                <div class="flip-box-front text-center" >
                                    <div class="stepborder">
                                        <div class="myflex">
                                            <div class="rating step6"><span>06</span></div>
                                            <div class="imgstep" style="padding:0px 0px;  ">
                                                <img src="assets/img/category/step6.png">               
                                            </div>
                                            <div class="steptext">
                                                <h5>Meet your professional expert</h5>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-box-back text-center" >
                                    <div class="inner color-white">
                                       <div>
                                            <p class="shortened">No more back-and-forth conversations to sort out any issues! A financial expert from our team will be assigned to you. You can contact them directly to get your queries answered. The expert will be available throughout the process and ensure your service is done on time without any setbacks.</p>
                                        </div>                             
                                    </div>
                                </div>
                            </div> 
                            
                        </div>
                        <div class="item">
                            <div class="flip-box">
                                <div class="flip-box-front text-center" >
                                    <div class="stepborder">
                                        <div class="myflex">
                                            <div class="rating step7"><span>07</span></div>
                                            <div class="imgstep" style="padding:0px 0px;  ">
                                                <img src="assets/img/category/step7.png">               
                                            </div>
                                            <div class="steptext">
                                                <h5>Get access to the final deliverable post-completion of service</h5>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-box-back text-center" >
                                    <div class="inner color-white">
                                       <div>
                                            <p class="shortened">Congrats! You will get the final deliverable of the service availed! Never look back on finances when we are by your side!</p>
                                        </div>                             
                                    </div>
                                </div>
                            </div> 
                            
                        </div>                                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# <div id="image-map">
        <img src="assets/img/background/image3.png" alt="Our Locations" style="width: 100%;">
        <div class="pin pin-down" data-xpos="115" data-ypos="125">
            <h2>Willowbrook Place</h2>
            <ul>
                <li><strong>123 Street Address</strong></li>
                <li>City, ST, 12345</li>
                <li><strong>(555) 555-5555</strong></li>
                <li><a href="#" target="_blank">Website</a></li>
                <li>Coming in Spring 2015</li>
            </ul>
        </div>
        <div class="pin pin-down" data-xpos="215" data-ypos="175">
            <h2>Ambergrove Place</h2>
            <ul>
                <li><strong>123 Street Address</strong></li>
                <li>City, ST, 12345</li>
                <li><strong>(555) 555-5555</strong></li>
                <li><a href="#" target="_blank">Website</a></li>
                <li>Coming in Spring 2015</li>
            </ul>
        </div>
        <div class="pin" data-xpos="255" data-ypos="65">
            <h2>Chelsea Place</h2>
            <ul>
                <li><strong>123 Street Address</strong></li>
                <li>City, ST, 12345</li>
                <li><strong>(555) 555-5555</strong></li>
                <li><a href="#" target="_blank">Website</a></li>
                <li>Coming in Spring 2015</li>
            </ul>
        </div>
    </div> #}

    <section class="cta " style="padding-bottom: 60px;">
        <div class="container">
            <div class="titlehead" style="text-align:right;">
                <h1>Unlock your <span><img src="assets/img/background/Icon15.png" width="80px"> </span> Potential.</h1>
            </div>
            <div class="row" style="padding-top:35px;">
                <div id="potential" class="owl-carousel">
                    <div class="item">                                    
                        <img src="assets/img/slider/Finance.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                            Finance made<br> Easy!
                            </h5>
                            <div class="tetx-div d-flex align-items-center">
                                <p class="card-text">
                                From business registration, tax filing, and CFO to investment and business planning, we stay with you at every stage of your business and cater to all your financial needs in one place. No more juggling between different service providers or risking regulatory compliance! Finanzi is your all-in-one powerhouse of finances where you achieve financial peace of mind.
                                </p>
                            </div>                        
                        </div>
                    </div>
                    <div class="item">                
                        <img src="assets/img/slider/cloud.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                            Powered by <br> Cloud-AI
                            </h5>
                            <div class="tetx-div d-flex align-items-center">
                                <p class="card-text">
                                    We are your tech-focused, cloud-based and AI-powered finance squad! With our excellent cloud management system and tech-savvy partners, we strive to give you a hustle-free experience so you can be confident about the financial aspects of your business.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">               
                        <img src="assets/img/slider/Fuel.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                            Fuel for <br> Startups
                            </h5>
                            <div class="tetx-div d-flex align-items-center">
                                <p class="card-text">
                                Finanzi is more than your financial partner. You get exclusive access to our business community, share your experiences and achievements, network with startups and entrepreneurs and get instant updates about the evolving business world.
                                </p>
                            </div>
                        </div>
                    </div>                
                    <div class="item">               
                        <img src="assets/img/slider/Community.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Community.<br> ASSEMBLE!
                            </h5>
                            <div class="tetx-div d-flex align-items-center">
                                <p class="card-text">
                                You get access to your personal dashboard once you sign up for any of our services. Every business is provided with a private cloud storage space to ensure confidentiality and integrity. You get instant updates on the service availed and stay financially sorted without the burden of paperwork.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">                      
                        <img src="assets/img/slider/Growth.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Growth Boost <br> Re-Imagined
                            </h5>
                            <div class="tetx-div d-flex align-items-center">
                                <p class="card-text">
                                We make every penny count. With Finanzi, you unlock the hidden opportunities to grow your business, speed up your profit maximization and leverage investments with our expert guidance.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">                
                        <img src="assets/img/slider/Tailored.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                            Tailored for <br> YOU
                            </h5>
                            <div class="tetx-div d-flex align-items-center">
                            <p class="card-text">
                                All our professionals are experienced and committed to giving you the best. You get a financial partner aligned with your values and business goals. We customize your financial plans to better suit your requirements which helps us serve you the best possible way and continue to be a leading authority in the world of regulations and finance.
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                {# <div class="col-4">
                    <div class="list">
                        <ul>
                            <li><button class="btn btnli" id="financebtn"> Finance made<br> Easy! </button></li>
                            <li><button class="btn btnli" id="Poweredbtn">Powered by <br> Cloud-AI </button></li>
                            <li><button class="btn btnli" id="Startupsbtn">Fuel for <br> Startups </button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="maincon d-flex align-items-center justify-content-center">
                        <p id="finance" >From business registration, tax filing, and CFO to investment and business planning, we stay with you at every stage of your business and cater to all your financial needs in one place. No more juggling between different service providers or risking regulatory compliance! FH is your all-in-one powerhouse of finances where you achieve financial peace of mind.</p>
                        <p id="Powered" >We are your tech-focused, cloud-based and AI-powered finance squad! With our excellent cloud management system and tech-savvy partners, we strive to give you a hustle-free experience so you can be confident about the financial aspects of your business.</p>
                        <p id="Startups" >Fintastic Hub is more than your financial partner. You get exclusive access to our business community, share your experiences and achievements, network with startups and entrepreneurs and get instant updates about the evolving business world.</p>
                        <p id="Community" >You get access to your personal dashboard once you sign up for any of our services. Every business is provided with a private cloud storage space to ensure confidentiality and integrity. You get instant updates on the service availed and stay financially sorted without the burden of paperwork.</p>
                        <p id="Growth" >We make every penny count. With FH, you unlock the hidden opportunities to grow your business, speed up your profit maximization and leverage investments with our expert guidance.</p>
                        <p id="Tailored" >All our professionals are experienced and committed to giving you the best. You get a financial partner aligned with your values and business goals. We customize your financial plans to better suit your requirements which helps us serve you the best possible way and continue to be a leading authority in the world of regulations and finance.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="list">
                        <ul>
                            <li> <button class="btn btnli" id="Communitybtn">Community.<br> ASSEMBLE! </button></li>
                            <li><button class="btn btnli" id="Growthbtn">Growth Boost <br> Re-Imagined</button></li>
                            <li><button class="btn btnli" id="Tailoredbtn">Tailored for <br> YOU</button></li>
                        </ul>
                    </div>
                </div> #}
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <a href="/services"class="btn btn-common loginfirst" style="width:300px;" >Explore Services </a>
                </div>
            </div>
        </div>
    </section>
    <section class="cta " id="intro" style="padding-top:60px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="titlehead" style="text-align:right;">
                        <h1>Powered by the <span>BEST.</span> </h1>
                    </div>
                    <div id="logosdiv" class="owl-carousel">
                        <div class="item" style="height: 272px;">
                            <div class="logoimg d-flex align-items-center justify-content-center" style="padding:0px 0px;  ">
                                <img src="assets/img/background/Logo1_resized.png" >               
                            </div>
                        </div>
                        <div class="item">
                            <div class="logoimg d-flex align-items-center justify-content-center" style="padding:0px 0px;  ">
                                <img src="assets/img/background/Logo2_resized.png" >               
                            </div>
                        </div>
                        <div class="item">
                            <div class="logoimg d-flex align-items-center justify-content-center" style="padding:0px 0px;  ">
                                <img src="assets/img/background/Logo3_resized.png" >               
                            </div>
                        </div>
                        <div class="item">
                            <div class="logoimg d-flex align-items-center justify-content-center" style="padding:0px 0px;  ">
                                <img src="assets/img/background/Logo4_resized.png" >               
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="logoimg d-flex align-items-center justify-content-center" style="padding:0px 0px;  ">
                                <img src="assets/img/background/Logo5_resized.png" >               
                            </div>
                        </div>  

                        <div class="item" >
                            <div class="logoimg d-flex align-items-center justify-content-center" style="padding: 0px 0px;">
                                <img src="assets/img/background/Logo6_resized.png" >               
                            </div>
                        </div>
                        
                        <div class="item" style="">
                            <div class="logoimg d-flex align-items-center justify-content-center" style="padding: 0px 0px;">
                                <img src="assets/img/background/Logo7_resized.png" >               
                            </div>
                        </div>                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    
    <section id="content" class="section-padding" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titlehead" style="text-align:right;">
                        <h1>Talk to our <span>WIZARDS.</span> </h1>
                    </div>
                </div>
                {% if final|length > 0 %}
                <div class="col-lg-12 col-md-12 col-xs-12 formdesign ">
                    <form action="{{ path('app_eventmangerboking') }}" method="post" class="contact-form">                       
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group col-md-8 mx-auto">
                                            <label for="form_dis" class="required">Title</label>
                                            <input type="text" class="form-control event" id="name" name="title" placeholder="Name" required data-error="Please enter a title">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 " style="margin-top: 20px;">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="help-block with-errors"></div>
                                            <label for="form_dis" class="required">Date</label>
                                            <select class="form-select form-control event" name="startdate" id="loadtime" aria-label="Default select example">
                                                {% for date in dates %}
                                                <option value="{{date.date}}">{{date.date }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="form_dis" class="required">Time</label>
                                            <select class="form-select form-control event" name="time" id="showtime" aria-label="Default select example">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="form_dis" class="required">Durtion</label>
                                            <select class="form-select form-control event" name="duration" aria-label="Default select example">
                                                <option>1h</option>
                                                <option>2h</option>
                                                <option>3h</option>
                                            </select>
                                        </div>
                                        <input type="hidden" name="userid" value="{{app.user.id}}">
                                        <input type="hidden" name="useremail" value="{{app.user.email}}
                                                ">
                                        <input type="hidden" name="status" value="available">
                                        <input type="hidden" name="mangerid" value="{{mangerId}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="display:flex; justify-content: center; padding-top:20px;">

                                <button type="submit" id="submit" class="btn btn-common">Confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="col-lg-12 col-md-12 col-xs-12  formdesign">
                    {{ form_start(form,{'attr': {'class': 'contact-form'}}) }}
                    {# <form id="contactForm" class="contact-form" data-toggle="validator"> #}
                        <h2 class="contact-title1">
                            Book your appointment
                        </h2>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 formdesign">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group col-md-8 mx-auto">
                                            {{ form_row(form.dis,{'attr': {'class': 'form-control event dis','placeholder':'Massage'}}) }}
                                            {# <textarea class="form-control" placeholder="Massage" rows="7" data-error="Write your message" required></textarea>
                                            <div class="help-block with-errors"></div> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 " style="margin-top: 20px;">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            {{ form_row(form.bookingstart,{'attr': {'class': 'form-control event'}}) }}
                                            {# <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                                            <div class="help-block with-errors"></div> #}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            {{ form_row(form.bookingtime,{'attr': {'class': 'form-control event'}}) }}
                                            {# <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                            <div class="help-block with-errors"></div> #}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            {{ form_row(form.duration,{'attr': {'class': 'form-control event'}}) }}
                                            {# <input type="text" class="form-control" id="msg_subject" name="subject" placeholder="Subject" required data-error="Please enter your subject">
                                            <div class="help-block with-errors"></div> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 " style="padding-top: 20px;">
                                {% if app.user %}
                                {{ form_row(form.save,{'attr': {'class': 'btn btn-primary loginfirst'}}) }}
                                {% else %}
                                <div style="display: none;">
                                    {{ form_row(form.save,{'attr': {'class': 'btn btn-common'}}) }}
                                </div>
                                <a href="{{path('app_login')}}" class="btn btn-primary loginfirst">Login First</a>
                                {% endif %}
                            </div>
                        </div>
                        {{ form_end(form) }}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="testimonial section-padding">
        <div class="container">
            <div class="row">    
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                
                    <div class="titlehead" style="text-align:right !important;">
                        <h1>Client <span>Testimonial.</span> </h1>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="testimonials" class="owl-carousel">
                        <div class="item">
                            <div class="img-thumb">
                                <img src="assets/img/testimonial/img1.png" alt="">
                            </div>
                            <div class="testimonial-item">
                                <div class="content">
                                    <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                                    <div class="info-text">
                                        <h2><a href="#">Josh Rossi</a></h2>
                                        <h4><a href="#">CEO of Fiverr</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                <div class="img-thumb">
                                    <img src="assets/img/testimonial/img2.png" alt="">
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Jessica</a></h2>
                                            <h4><a href="#">CEO of Dropbox</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                <div class="img-thumb">
                                    <img src="assets/img/testimonial/img3.png" alt="">
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Johnny Zeigler</a></h2>
                                            <h4><a href="#">CEO of Fiverr</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                <div class="img-thumb">
                                    <img src="assets/img/testimonial/img4.png" alt="">
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Josh Rossi</a></h2>
                                            <h4><a href="#">CEO of Fiverr</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                <div class="img-thumb">
                                    <img src="assets/img/testimonial/img5.png" alt="">
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Priyanka</a></h2>
                                            <h4><a href="#">CEO of Dropbox</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item">
                                
                                <div class="img-thumb">
                                   <a href="#" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/immbOqvDLYY" data-target="#video_pop"> <img src="assets/img/testimonial/icon.png" alt="" style="width:80px;"></a>
                                </div>
                                <div class="testimonial-item">
                                    <div class="content">
                                        <p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
                                        <div class="info-text">
                                            <h2><a href="#">Priyanka</a></h2>
                                            <h4><a href="#">CEO of Dropbox</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!-- POPUP -->
        <div class="modal fade" id="video_pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:100px">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-body">        
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>        
                   <!-- 16:9 aspect ratio -->
                   <div class="embed-responsive embed-responsive-16by9">
                     <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always"></iframe>
                   </div>                
             </div>        
           </div>
         </div>
        </div>


    <section id="blog" class="section-padding">
        <div class="container">                
            <div class="titlehead" style="text-align:right;">
                    <h1>Blog <span>Post.</span> </h1>
                </div>
            <div class="row">
                {% for posts in post %}
                    {% if posts.category != 'Services built' %}                    
                        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
                            <div class="blog-item-wrapper">
                                <div class="blog-item-img">
                                    <a href="blogs/{{posts.id}}">
                                        <img src="images/thumbnails/{{posts.thumbnail}}" alt="">
                                    </a>
                                </div>
                                <div class="blog-item-text">
                                    <div class="meta-tags">
                                        <span class="user float-left"><a href="#"><i class="lni-user"></i> {{ posts.category }}</a></span>
                                        <span class="date float-right"><i class="lni-calendar"></i> </span>
                                    </div>
                                    <h3>
                                        <a href="blogs/{{posts.id}}"> {{ posts.title}}</a>
                                    </h3>
                                    <p>
                                        {{ posts.content| raw}}
                                    </p>
                                    <a href="blogs/{{posts.id}}" class="btn btn-common">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section> 
    <section id="about" style="padding-top:60px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titlehead" style="text-align:right;">
                        <h1>Frequently Asked <span>Questions.</span> </h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-5 col-xs-12">
                    <div class="about-wrapper">
                        <img class="img-fluid" src="assets/img/category/FAQ.png" alt="">
                    </div>
                </div>
                <div class="col-md-12 col-lg-7 col-xs-12">
                    <div class="faq">
                        <div class='d-details'>
                            <details class='tab-control'>
                                <summary>Is one-to-one assistance available along with financial services? Where do I solve my queries?</summary>
                                <p>Yes! Once you avail our service, a dedicated financial expert from our team will be assigned to you. He/She will contact you and explain the process and be available to clarify your doubts.
                                                    </p>
                            </details>
                            <details class='tab-control'>
                                <summary>How long will it take to complete the process and get the final deliverable?</summary>
                                <p>
                                    It may vary for every service, however, you can track your services in real-time on your private dashboard. The estimated completion date will be available clearly on your dashboard and our dedicated expert will contact you and explain all the requirements and the process.
                                </p>
                            </details>
                            <details class='tab-control'>
                                <summary>What types of businesses do you work with?</summary>
                                
                                    <p>
                                        We work with startups, freelancers and entrepreneurs all over India across multiple industries including e-commerce, retail, non-profit, logistics, manufacturing etc.                                    
                                        You can also track the status of service on real time basis from your Finanzi dashboard. We ensure every service is completed in least possible time
                                    </p>
                               
                            </details>
                            <details class='tab-control'>
                                <summary>What is the cancellation policy? What if I prepaid for the year?</summary>                                
                                    <p>
                                        You can cancel any time before the service work is started. In case if you have prepaid for the year your subscription will continue until the end of your billing cycle. If you decide not to renew after the year is over, you can let us know in advance and we’ll stop billing you for the next cycle.
                                    </p>                                
                            </details>
                            <details class='tab-control'>
                                <summary>How can I become an affiliate? What are the benefits?</summary>                              
                                    <p>
                                        Our affiliate program is open to everyone! As an affiliate, you can earn a commission as high as 20% when your referral purchases a service from us and set up a passive source of income.<a href="/affiliated"> Click here </a>to join.</b>
                                    </p>                                
                            </details>
                            <details class='tab-control'>
                                <summary>What are the benefits of your investment options at Finanzi?</summary>                                
                                    <p>
                                        At Finanzi, we partner with large corporations to ease the process, take charge of the paperwork and eliminate risks as much as possible. You also earn cashback on your investments. For instance, if you get a LIC policy of 100,000 p.a. Premium, you can avail 10% of 100,000 i.,e. 10,000 rs as cashback in your bank account, which means, you easily save Rs.10,000. (Please note that the percentage of cashback may vary)
                                    </p>                                
                            </details>
                            <details class='tab-control'>
                                <summary> I am new to affiliate marketing. Is guidance provided?</summary>                                
                                    <p>
                                        Yes. Once you become an <a href=""> affiliate</a>, you will get access to our exclusive tools and resources which help you quickly learn affiliate marketing, refer Finanzi and earn commissions.
                                    </p>
                                
                            </details>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
  
    </section>
    <section class="counter-section section-padding">
        <div class="container">
            <div class="row">
            <div class="col-md-12 ">
                <div class="titlehead" style="text-align:right;">
                    <h1>And <span>COUNTING..</span> </h1>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
                
            <div class="row">
            
                <div class="col-md-3 col-sm-6 work-counter-widget">
                    <div class="counter">
                        <div class="icon"><i class="lni-layers"></i></div>
                        <h2 class="counterUp">80</h2>
                        <p>Startups served
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 work-counter-widget">
                    <div class="counter">
                        <div class="icon"><i class="lni-users"></i></div>
                        <h2 class="counterUp">10000 </h2>
                        <p>ITRs filed
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 work-counter-widget">
                    <div class="counter">
                        <div class="icon"><i class="lni-briefcase"></i></div>
                        <h2 class="counterUp">150</h2>
                        <p>Businesses </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 work-counter-widget">
                    <div class="counter">
                        <div class="icon"><i class="lni-map"></i></div>
                        <h2 class="counterUp">50000</h2>
                        <p>Hours saved
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section style="mb-5">
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <a href="/services"class="btn btn-common loginfirst" style="width:300px;" >Explore Services </a>
                </div>
            </div>
        </div>
    </section>
   {% include  'footer.html.twig' %}
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}
    {% endblock %}
    {% block javascripts %}
    <script type="text/javascript">

       $(document).ready(function() {  
     // Gets the video src from the data-src on each button    
     var $videoSrc;  
     $('.video-btn').click(function() {
       $videoSrc = $(this).data( "src" );      
     });
     //console.log($videoSrc);  
       
     // when the modal is opened autoplay it  
     $('#video_pop').on('shown.bs.modal', function (e) {
       
     // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
     $("#video").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" ); 
     })
       // stop playing the youtube video when I close the modal
     $('#video_pop').on('hide.bs.modal', function (e) {
       $("#video").attr('src',$videoSrc); 
     }) 
   
    }); 


    $(document).ready(function() {
        setInterval(function() {
            console.log('#sizedModalLg.show()');
        }, 5000);
    });

    $(window).on('load', function() {
        setTimeout(function() {
            $('#sizedModalLg').modal('hide')
        }, 3000);
    });
    </script>
    <script type="text/javascript">
    function wishlist_mange(pid, type) {
        // alert(pid);
        $.ajax({

            url: "account-favourite-ads.php?id=" + pid + "&action=" + type,
            type: "get",
            success: function(result) {
                console.log(result.abc);
                alert('Add In Favorites');
                location.reload();
            }
        });
    }

    $(document).ready(function() {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;

        $(".next").click(function() {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function(now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $(".previous").click(function() {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function(now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 600
            });
        });

        $('.radio-group .radio').click(function() {
            $(this).parent().find('.radio').removeClass('selected');
            $(this).addClass('selected');
        });

        $(".submit").click(function() {
            return false;
        })

    });

    // the selector will match all input controls of type :checkbox
    // and attach a click event handler 
    $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });
    </script>
    <script>

    $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});

    $(document).ready(function() {
        $("#finance").show();
        $("#financebtn").click(function() {
            $("#finance").show();
            $("#Powered").hide();
            $("#Startups").hide();
            $("#Community").hide();
            $("#Growth").hide();
            $("#Tailored").hide();

        });
        $("#Poweredbtn").click(function() {
            $("#finance").hide();
            $("#Powered").show();
            $("#Startups").hide();
            $("#Community").hide();
            $("#Growth").hide();
            $("#Tailored").hide();
            
        });
        $("#Startupsbtn").click(function() {
            $("#finance").hide();
            $("#Powered").hide();
            $("#Startups").show();
            $("#Community").hide();
            $("#Growth").hide();
            $("#Tailored").hide();  
        });
        $("#Communitybtn").click(function() {
            $("#finance").hide();
            $("#Powered").hide();
            $("#Startups").hide();
            $("#Community").show();
            $("#Growth").hide();
            $("#Tailored").hide();  
        });
        $("#Growthbtn").click(function() {
            $("#finance").hide();
            $("#Powered").hide();
            $("#Startups").hide();
            $("#Community").hide();
            $("#Growth").show();
            $("#Tailored").hide();  
        });
        $("#Tailoredbtn").click(function() {
            $("#finance").hide();
            $("#Powered").hide();
            $("#Startups").hide();
            $("#Community").hide();
            $("#Growth").hide();
            $("#Tailored").show();  
        });
    });

    
    $(document).ready(function() {

        $("#ck1a13").click(function() {
            $("#showcollage").show();
            $("#hideclass").hide();
        });
    });
    $(document).ready(function() {

        $("#ck1a11").click(function() {
            $("#showcollage").hide();
            $("#hideclass").show();
        });
    });
    $(document).ready(function() {

        $("#ck1a12").click(function() {
            $("#showcollage").hide();
            $("#hideclass").show();
        });
    });
    $(document).ready(function() {

        $("#ck1a14").click(function() {
            $("#showcollage").hide();
            $("#hideclass").show();
        });
    });

    // $(function() {
    //     count = 0;
    //     wordsArray = ["Beta", "Gamma", "Delta", "Alpha"];
    //     setInterval(function() {
    //         count++;
    //         $("#word").fadeOut(400, function() {
    //             $(this).text(wordsArray[count % wordsArray.length]).fadeIn(400);
    //         });
    //     }, 2000);
    // });

    $(function() {
        count = 0;
        wordsArray12 = ["Traders", "MSMEs", "Professional", "Startups"];
        setInterval(function() {
            count++;
            $("#serviceword").fadeOut(400, function() {
                $(this).text(wordsArray12[count % wordsArray12.length]).fadeIn(400);
            });
        }, 2000);
    });
    </script>
    <script language="javascript">
    $(document).ready(function() {
        $("#loadtime").change("click", function(event) {
            var status = $("#loadtime").val();

            $.ajax({
                url: '{{ path('app_home') }}',
                type: 'POST',
                data: { 'status': status },
                dataType: 'json',
                async: true,

                success: function(response) {
                    $("#showtime").html(' ');
                    $.each(response, function(key, value) {
                        //$('#speakerResponse').empty('').append(html);

                        $('#showtime').append("\
                                    <option value=" + value + " >" + value + "</option>\
                                    \
                                    ");
                    })
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Ajax request failed.');
                }
            });
        });
    });

    $(document).ready(function() {

        // set the image-map width and height to match the img size
        $('#image-map').css({
            'width': $('#image-map img').width(),
            'height': $('#image-map img').height()
        })

        //tooltip direction
        var tooltipDirection;

        for (i = 0; i < $(".pin").length; i++) {
            // set tooltip direction type - up or down             
            if ($(".pin").eq(i).hasClass('pin-down')) {
                tooltipDirection = 'tooltip-down';
            } else {
                tooltipDirection = 'tooltip-up';
            }

            // append the tooltip
            $("#image-map").append("<div style='left:" + $(".pin").eq(i).data('xpos') + "px;top:" + $(".pin").eq(i).data('ypos') + "px' class='" + tooltipDirection + "'>\
                                            <div class='tooltip'>" + $(".pin").eq(i).html() + "</div>\
                                    </div>");
        }

        // show/hide the tooltip
        $('.tooltip-up, .tooltip-down').mouseenter(function() {
            $(this).children('.tooltip').fadeIn(100);
        }).mouseleave(function() {
            $(this).children('.tooltip').fadeOut(100);
        })
    });
    </script>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/644a51da31ebfa0fe7fab772/1gv14vgde';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script type="text/javascript">
//  $(function () {
    
//     var maxL = 100;
    
//     $('.shortened').each(function () {
        
//         var text = $(this).text();
//         if(text.length > maxL) {
            
//             var begin = text.substr(0, maxL),
//                 end = text.substr(maxL);

//             $(this).html(begin)
//                 .append($('<a class="readmore"/>').html('read more...'))
//                 .append($('<div class="hidden" />').html(end));
                
            
//         }
        
        
//     });
            
//     $(document).on('click', '.readmore', function () {
//         $(this).next('.readmore').hide();
//         $(this).next('.hidden').slideToggle(400);
//     })        
    
    
// })

</script>
    {% endblock javascripts %}