{% extends 'getrout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<style type="text/css">
        .list-specification i{
            color: #40e0d0;
            margin-top: 5px;
            font-size: 14px;
            padding-left: 10px;
        }
        .list-specification li{
            font-size: 15px;
            margin: 10px 0px;
        }

        /*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
/*ol.gradient-list > li::before, ol.gradient-list > li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}*/

/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}



/*main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}*/

ol {
  counter-reset: gradient-counter;
  list-style: none;
  /*margin: 1.75rem 0;*/
  padding-left: 10px;
}
ol > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;

  min-height: 5px;
  /*padding: 1rem 1rem 1rem 3rem;*/
  position: relative;
  color: black;
  font-size: 16px;
}

ol > li::before, ol > li::after {
  content: "";
  
  
  overflow: hidden;
  position: absolute;
  

}
ol > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  margin-left: -15px;
  justify-content: flex-end;
  
  z-index: 1;
}
ol > li:nth-child(10n+1):before {
  
}

ol > li + li {
  margin-top: 2rem;
}

    </style>
<body>
    
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Details</h2>
                        <ul class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-padding">
        <div class="container">
            <div class="product-info row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="ads-details-wrapper">
                        <div id="owl-demo" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="product-img">
                                    <img class="img-fluid" src="{{ asset("images/thumbnails/")}}{{prodetail.service.thumbnail}}" alt="">
                                </div>
                                <span class="price">33%</span>
                            </div>
                            <div class="item">
                                <div class="product-img">
                                    <img class="img-fluid" src="{{ asset("images/thumbnails/")}}{{prodetail.service.thumbnail}}" alt="">
                                </div>
                                <span class="price">33%</span>
                            </div>
                            <div class="item">
                                <div class="product-img">
                                    <img class="img-fluid" src="{{ asset("images/thumbnails/")}}{{prodetail.service.thumbnail}}" alt="">
                                </div>
                                <span class="price">33%</span>
                            </div>
                        </div>
                    </div>
                    <div class="details-box">
                        <div class="ads-details-info">
                            <h2>{{prodetail.name}}</h2>
                            <h2> <span><s>₹{{prodetail.regularprice}}</s></span> ₹{{prodetail.price}}</h2>
                            <div class="details-meta">
                                <span><a href="#"><i class="lni-book"></i> Business license</a></span>
                                <span><a href="#"><i class="lni-eye"></i> 99 Buyrs</a></span>
                                <!-- <span><a href="#"><i class="lni-eye"></i> 299 View</a></span> -->
                            </div>
                            <p class="mb-4">{{prodetail.description| raw}}</p>
                           <!--  <h4 class="title-small mb-3">Specification:</h4>
                            <ul class="list-specification">
                                <li><i class="lni-check-mark-circle"></i> 256GB PCIe flash storage</li>
                                <li><i class="lni-check-mark-circle"></i> 2.7 GHz dual-core Intel Core i5</li>
                                <li><i class="lni-check-mark-circle"></i> Turbo Boost up to 3.1GHz</li>
                                <li><i class="lni-check-mark-circle"></i> Intel Iris Graphics 6100</li>
                                <li><i class="lni-check-mark-circle"></i> 8GB memory</li>
                                <li><i class="lni-check-mark-circle"></i> 10 hour battery life</li>
                                <li><i class="lni-check-mark-circle"></i> 13.3" Retina Display</li>
                                <li><i class="lni-check-mark-circle"></i> 1 Year international warranty</li>
                            </ul>
                            <p class="mb-4">
                                Up for sale we have a vintage Raleigh Sport Men’s Bicycle. This bike does have some general wear and surface corrosion on some of the parts but is overall in good shape. It has been checked out and does work. Brakes and gears work. Seat is fully intact. Frame and fenders are in nice shape with minimal wear. A few minor dents in the fenders but most of the paint is intact.
                            </p> -->
                        </div>
                        <!-- <div class="tag-bottom">
                            <div class="float-left">
                                <ul class="advertisement">
                                    <li>
                                        <p><strong><i class="lni-folder"></i> Categories:</strong> <a href="#">Electronics</a></p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-archive"></i> Condition:</strong> New</p>
                                    </li>
                                    <li>
                                        <p><strong><i class="lni-package"></i> Brand:</strong> <a href="#">Apple</a></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="float-right">
                                <div class="share">
                                    <div class="social-link">
                                        <a class="facebook" data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                                        <a class="twitter" data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                                        <a class="linkedin" data-toggle="tooltip" data-placement="top" title="linkedin" href="#"><i class="lni-linkedin-fill"></i></a>
                                        <a class="google" data-toggle="tooltip" data-placement="top" title="google plus" href="#"><i class="lni-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="faq">
                          <!--   <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12"> -->
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size: 22px">
                                                            Details of the services
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse ">
                                                    <div class="panel-body">
                                                        <main>
                                                        {{prodetail.howdone| raw}}
                                                        </main>
                                        </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title " >
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-size: 22px">
                                                           Estimates of server components
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <p>
                                                            Fintatstic Hub club has built a network of existing, new businesses, professionals, individuals to help our clients
                                                        </p>
                                                        <br>
                                                        <p>leverage varied resources, share and learn from experiences and build relations.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="font-size:22px;">
                                                           Documents required
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFour" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                    {% for prodocs in prodoc %}
                                                        {% for prodo in prodocs.Newdocinfo %}
                                                        <p>
                                                            {{ prodo.name }}
                                                        </p>
                                                        <br>
                                                        {% endfor %}
                                                    {% endfor %}
                                                        <br>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       <!--  </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <aside class="details-sidebar">
                        {# <div class="widget">
                            <h4 class="widget-title">Add You Account</h4>
                            <div class="staff-inner">
                                <div class="staff-title">
                                    <div class="staff-photo">
                                        <a href="#"><img src="assets/img/productinfo/staff.jpg" alt=""></a>
                                    </div>
                                    <div class="staff-details">
                                        <h3><a href="#">Tahmina Anny</a></h3>
                                        <span><i class="lni-phone-handset"></i>(123) 123-456</span>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Your Email">
                                <input type="text" class="form-control" placeholder="Your Phone"> 
                                <p>I'm interested in this property [ID 123456] and I'd like to know more details.</p>
                                <button class="btn btn-common fullwidth mt-4">Send Message</button>
                            </div>
                        </div> #}
                        <div class="widget">
                            <h4 class="widget-title text-center">Add To Cart</h4>
                            <div class="staff-inner">
                                <!-- <div class="staff-title">
                                    <div class="staff-photo">
                                        <a href="#"><img src="assets/img/productinfo/staff.jpg" alt=""></a>
                                    </div>
                                    <div class="staff-details">
                                        <h3><a href="#">Tahmina Anny</a></h3>
                                        <span><i class="lni-phone-handset"></i>(123) 123-456</span>
                                    </div>
                                </div> -->
                                <!-- <input type="text" class="form-control" placeholder="Your Email"> -->
                                <!-- <input type="text" class="form-control" placeholder="Your Phone"> -->
                                <!-- <p>I'm interested in this property [ID 123456] and I'd like to know more details.</p> -->
                                <form method="post">
                                {% if inBasket %}
                                    <a href="../cart" class="btn btn-success btn-lg " style="width:100%" disabled>Go to cart</a>
                                {% else %}
                                    <button class="btn btn-common btn-lg " style="width:100%">Add to cart</button>
                                {% endif %}                                
                                </form>
                            </div>
                        </div>
                        {% if Productshow %}                        
                            <div class="widget">
                                <h4 class="widget-title">Service Add Ons</h4>
                                <ul class="posts-list">
                                {% for Productr in Productshow %}
                                    <li>
                                        <div class="widget-thumb">
                                            <a href="{{Productr.id}}"><img src="{{ asset("images/thumbnails/")}}{{Productr.service.thumbnail}}" alt="" /></a>
                                        </div>
                                        <div class="widget-content">
                                            <h4><a href="{{Productr.id}}">{{Productr.name}}</a></h4>
                                            <div class="meta-tag">
                                                <h4 class="price">₹{{Productr.price}}</h4>
                                            </div>
                                            
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <section class="subscribes section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="subscribes-inner">
                        <div class="icon">
                            <i class="lni-pointer"></i>
                        </div>
                        <div class="sub-text">
                            <h3>Subscribe to Newsletter</h3>
                            <p>and receive new ads in inbox</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <form>
                        <div class="subscribe">
                            <input class="form-control" name="EMAIL" placeholder="Enter your Email" required="" type="email">
                            <button class="btn btn-common" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <section class="footer-Content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
                        <div class="widget">
                            <div class="footer-logo"><img src="assets/img/logo.png" alt=""></div>
                            <div class="textwidget">
                                <p>  footer about us</p>
                            </div>
                            <ul class="mt-3 footer-social">
                                <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                                <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Quick Link</h3>
                            <ul class="menu">
                                <li><a href="#">- About Us</a></li>
                                <li><a href="#">- Blog</a></li>
                                <li><a href="#">- Events</a></li>
                                <li><a href="#">- Shop</a></li>
                                <li><a href="#">- FAQ's</a></li>
                                <li><a href="#">- About Us</a></li>
                                <li><a href="#">- Blog</a></li>
                                <li><a href="#">- Events</a></li>
                                <li><a href="#">- Shop</a></li>
                                <li><a href="#">- FAQ's</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Contact Info</h3>
                            <ul class="contact-footer">
                                <li>
                                    <strong><i class="lni-phone"></i></strong><span>+1 555 444 66647 <br> +1 555 444 66647</span>
                                </li>
                                <li>
                                    <strong><i class="lni-envelope"></i></strong><span><a href="http://preview.uideck.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ccafa3a2b8adafb88ca1ada5a0e2afa3a1">[email&#160;protected]</a> <br> <a href="http://preview.uideck.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="bdcec8cdcdd2cfc9fdd0dcd4">[email&#160;protected]</a>l.com</span>
                                </li>
                                <li>
                                    <strong><i class="lni-map-marker"></i></strong><span><a href="#">9870 St Vincent Place, Glasgow, DC 45 <br>Fr 45</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-info text-center">
                            <p><a target="_blank" href="https://templateshub.net">Templates Hub</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}
</body>
{% endblock %}