{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
    .input-icon ul li{
        color:red !important;
    }



.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-content{
    
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img{
    width: 500px;
}


.login-content img{
    height: 100px;
}

.login-content h2{
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
    margin-top: 0;
}

.i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #5bb7c5;
    transition: .4s;
}

.input-div:before{
    right: 50%;
}

.input-div:after{
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}

.input-div.focus > div > h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i{
    color: #5bb7c5;
}

.input-div > div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}
.input-div > div > div > select{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass{
    margin-bottom: 4px;
}



.btnlog{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #5bb7c5, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: 777ms;
}
.btnlog:hover{
    background-position: right;
    display: block;
    background-image: linear-gradient(to left, #49e6b1, #5bb7c5, lightcyan);
    transform: scale(104%);
}


@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }

    .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .container{
        grid-template-columns: 1fr;
    }

    .img{
        display: none;
    }

    .wave{
        display: none;
    }

    .login-content{
        justify-content: center;
    }
}
.float-right{
    float: left !important;
    padding-top: 10px!important;
}
.mycheck{
    text-align:left;
}
.mycheck >div >div > input{
    margin: 7px;
}
</style>

<body>

    {# <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Join Us</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Register</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <section class="register section-padding">
        <div class="container">
            <div class="row justify-content-center section-padding" >
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="register-form login-area">
                        <h3>
                            Register
                        </h3>
                        <div class="login-content">
                         {{ form_start(registrationForm,{'attr': {'class': 'login-form'}}) }}
                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-user" style="padding-top:10px;"></i>
                                    {{ form_row(registrationForm.name,{'attr': {'class': 'form-control'}}) }}                                 
                                </div>
                            </div> #}
                            <div class="input-div one">
                                <div class="i">
                                    <i class="lni-user"></i>
                                </div>
                                <div class="div">
                                    <h5>Name</h5>
                                    {{ form_row(registrationForm.name,{'attr': {'class': 'input'}}) }}                                       
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="div">
                                        <h5>Email</h5>
                                        {{ form_row(registrationForm.email,{'attr': {'class': 'input'}}) }}                                       
                                </div>
                            </div>
                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-envelope" style="padding-top:10px;"></i>
                                    {{ form_row(registrationForm.email,{'attr': {'class': 'form-control'}}) }}                                   
                                </div>
                            </div> #}
                            <div class="input-div one">
                                <div class="i">
                                    <i class="lni-lock"></i>
                                </div>
                                <div class="div">
                                        <h5>Password</h5>
                                        {{ form_row(registrationForm.plainPassword.first,{'attr': {'class': 'input'}}) }}                       
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="lni-lock"></i>
                                </div>
                                <div class="div">
                                    <h5>Confirm Password</h5>
                                    {{ form_row(registrationForm.plainPassword.second,{'attr': {'class': 'input'}}) }}                       
                                </div>
                            </div>
                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-lock" style="padding-top:10px;"></i>                                    
                                    {{ form_row(registrationForm.plainPassword.first,{'attr': {'class': 'form-control'}}) }}                                    
                                </div>
                            </div> #}
                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-lock" style="padding-top:10px;"></i>                            
                                    {{ form_row(registrationForm.plainPassword.second,{'attr': {'class': 'form-control'}}) }}                                    
                                </div>
                            </div> #}
                            <div class="input-div one">
                                <div class="i">
                                    <i class="lni-home"></i>
                                </div>
                                <div class="div">
                                    <h5>Address</h5>
                                    {{ form_row(registrationForm.address,{'attr': {'class': 'input'}}) }}                       
                                </div>
                            </div>
                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-home" style="padding-top:10px;"></i>                                   
                                    {{ form_row(registrationForm.address,{'attr': {'class': 'form-control'}}) }}                                    
                                </div>
                            </div>  #}   
                            <div class="input-div one">
                                <div class="i">
                                    <i class="lni-pencil"></i>
                                </div>
                                <div class="div">
                                    <h5>PAN Number</h5>
                                    {{ form_row(registrationForm.pan_no,{'attr': {'class': 'input'}}) }}                       
                                </div>
                            </div>

                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-pencil" style="padding-top:10px;"></i>                                    
                                    {{ form_row(registrationForm.pan_no,{'attr': {'class': 'form-control'}}) }}                                    
                                </div>
                            </div> #}
                            <div class="input-div one">
                                <div class="i">
                                    <i class="lni-pencil"></i>
                                </div>
                                <div class="div">
                                    <h5>GST No. (optional)</h5>
                                    {{ form_row(registrationForm.GSTno,{'attr': {'class': 'input'}}) }}                       
                                </div>
                            </div>
                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-pencil" style="padding-top:10px;"></i>                                    
                                    {{ form_row(registrationForm.GSTno,{'attr': {'class': 'form-control'}}) }}                                   
                                </div>
                            </div> #}
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="div">
                                    <h5>Phone no</h5>
                                    {{ form_row(registrationForm.phone_no,{'attr': {'class': 'input'}}) }}                       
                                </div>
                            </div>
                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-phone" style="padding-top:10px;"></i>                                    
                                    {{ form_row(registrationForm.phone_no,{'attr': {'class': 'form-control'}}) }}                                    
                                </div>
                            </div> #}
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fa fa-transgender-alt"></i>
                                </div>
                                <div class="div">
                                    <h5>Gender</h5>
                                    {{ form_row(registrationForm.gender,{'attr': {'class': 'input'}}) }}                       
                                </div>
                            </div>
                            {# <div class="form-group">
                                <div class="input-icon">
                                    {{ form_row(registrationForm.gender,{'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div> #}
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fa fa-certificate "></i>
                                </div>
                                <div class="div">
                                    <h5>User Category</h5>
                                    {{ form_row(registrationForm.user_category,{'attr': {'class': 'input'}}) }}                       
                                </div>
                            </div>
                            {# <div class="form-group">
                                <div class="input-icon">
                                    
                                    {{ form_row(registrationForm.user_category,{'attr': {'class': 'form-control', 'style': 'height: 42px'}}) }}                                 
                                </div>
                            </div> #}
                            {# <div class="form-group" style="display:none">
                                <div class="input-icon">
                                    <i class="lni-lock"></i>
                                    {{ form_row(registrationForm.red_id,{'attr': {'class': 'form-control'},'attr': {'value':0}}) }}
                                    <input type="password" class="form-control" placeholder="Password"> 
                                    app.request.get('usewalet')
                                </div>
                            </div> #}
                            <div class="form-group" style="display:none">
                                <div class="input-icon">
                                    <i class="lni-lock"></i>
                                    {# {{  form_row(registrationForm.())}} #}
                                    {{ form_row(registrationForm.wellet,{'attr': {'class': 'form-control'},'attr': {'value': 0}}) }}
                                    {# <input type="password" class="form-control" placeholder="Password"> #}
                                </div>
                            </div>
                            <label class="tg-fileuploadlabel" for="tg-photogallery">
                                <span>Update Profile Picture</span>
                                {# <span>Or</span>
                                <span class="btn btn-common">Select Files</span>
                                <span>Maximum upload file size: 500 KB</span> #}
                                {{ form_row(registrationForm.imgicon,{'attr': {'id': 'tg-fileinput','class': 'tg-fileinput'}}) }}
                               {#  <input id="tg-photogallery" class="tg-fileinput" type="file" name="file"> #}
                            </label>
                            {# <div class="form-group">
                                <div class="input-icon">
                                    <i class="lni-lock"></i>
                                    <input type="password" class="form-control" placeholder="Retype Password">
                                </div>
                            </div> #}

                            <div class="form-group mb-3 mycheck">
                                <div class="custom-control custom-checkbox">
                                 {{ form_row(registrationForm.agreeTerms ) }}
                                    {# <input type="checkbox" class="custom-control-input" id="checkedall"> #}
                                    {# <label class="custom-control-label" for="checkedall">By registering, you accept our Terms & Conditions</label> #}
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btnlog">Register</button>
                            </div>
                          {{ form_end(registrationForm) }}
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <section class="footer-Content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
                        <div class="widget">
                            <div class="footer-logo"><img src="assets/img/logo.png" alt=""></div>
                            <div class="textwidget">
                                <p>  footer about us</p>
                            </div>
                            <ul class="mt-3 footer-social">
                                <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                                <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Quick Link</h3>
                            <ul class="menu">
                                <li><a href="#">- About Us</a></li>
                                <li><a href="#">- Blog</a></li>
                                <li><a href="#">- Events</a></li>
                                <li><a href="#">- Shop</a></li>
                                <li><a href="#">- FAQ's</a></li>
                                <li><a href="#">- About Us</a></li>
                                <li><a href="#">- Blog</a></li>
                                <li><a href="#">- Events</a></li>
                                <li><a href="#">- Shop</a></li>
                                <li><a href="#">- FAQ's</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
                        <div class="widget">
                            <h3 class="block-title">Contact Info</h3>
                            <ul class="contact-footer">
                                <li>
                                    <strong><i class="lni-phone"></i></strong><span>+1 555 444 66647 <br> +1 555 444 66647</span>
                                </li>
                                <li>
                                    <strong><i class="lni-envelope"></i></strong><span><a href="http://preview.uideck.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c9aaa6a7bda8aabd89a4a8a0a5e7aaa6a4">[email&#160;protected]</a> <br> <a href="http://preview.uideck.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9be8eeebebf4e9efdbf6faf2f7b5f8f4f6">[email&#160;protected]</a></span>
                                </li>
                                <li>
                                    <strong><i class="lni-map-marker"></i></strong><span><a href="#">9870 St Vincent Place, Glasgow, DC 45 <br>Fr 45</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </footer>
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}

</body>

{# 
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}

    <script>
const inputs = document.querySelectorAll(".input");


function addcl(){
    let parent = this.parentNode.parentNode.parentNode;
    parent.classList.add("focus");
}

function remcl(){
    let parent = this.parentNode.parentNode.parentNode;
    if(this.value == ""){
        parent.classList.remove("focus");
    }
}


inputs.forEach(input => {
    input.addEventListener("focus", addcl);
    input.addEventListener("blur", remcl);
});

</script>
{% endblock %}
