{% extends 'getrout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} 
<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Login</h2>
                    <ol class="breadcrumb">
                        <li><a href="index-2.html">Home /</a></li>
                        <li class="current">
                        {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.name }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="login section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-xs-12">
                <div class="login-form login-area">
                    <h3>
                        Reset your password
                    </h3>
                    {{ form_start(requestForm,{'attr': {'class': 'login-form'}}) }}
                    <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-envelope" style="padding-top:10px;"></i>
                                {{ form_row(requestForm.email,{'attr': {'class': 'form-control'}}) }}
                                {# <input type="text" id="Name" class="form-control" name="email" placeholder="Username"> #}
                            </div>
                        </div>
                
                    <div>
                        <small>
                            Enter your email address and we will send you a
                            link to reset your password.
                        </small>
                    </div>
                    <div class="text-center">
                            <button class="btn btn-common log-btn">Send password reset email</button>
                        </div>
                    
                {{ form_end(requestForm) }}
                    {# <form method="post" role="form" class="login-form">
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-user"></i>
                                <input type="text" id="sender-email" value="{{ last_username }}" class="form-control" name="email" id="inputEmail"  autocomplete="email" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni-lock"></i>
                                <input name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>
                            <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}" >
                        </div>
                        <div class="form-group mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkedall">
                                <label class="custom-control-label" for="checkedall">Keep me logged in</label>
                            </div>
                            <a class="forgetpassword" href="reset-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-common log-btn">Submit</button>
                        </div>
                    </form> #}
                </div>
            </div>
        </div>
    </div>
</section>
{% include  'footer.html.twig' %}


{% endblock %}
