{% extends 'getrout.html.twig' %}

{% block title %}Hello BlogsController!{% endblock %}

{% block body %}
    {% block stylesheets %}
<style type="text/css">
    
</style>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500,700">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% endblock %}
    
<body>
    {# <div class="page-header" style="background: url({{ asset('assets/img/banner1.jpg')}});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Blog Details</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Blog Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <div id="content" class="section-padding" style="padding-top:104px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="blog-post single-post">
                        <div class="post-thumb" style="text-align: center;">
                            <a href="#"><img class="img-fluid" src="{{ asset("images/thumbnails/")}}{{post.thumbnail}} "alt=""></a>
                            <div class="hover-wrap">
                            </div>
                        </div>
                        <div class="post-content">
                            <h2 class="post-title"><a href="#">{{ post.title}}</a></h2>
                            <div class="meta">
                                <span class="meta-part"><a href="#"><i class="lni-user"></i> {{ post.category }}{{post.thumbnail}}</a></span>
                                {# <span class="meta-part"><a href="#"><i class="lni-alarm-clock"></i> June 21, 2018</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-folder"></i> Sticky</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-comments-alt"></i> 1 Comments</a></span> #}
                            </div>
                            <div class="entry-summary">
                                <p>{{ post.content| raw}}</p>
                            </div>
                        </div>
                    </div>
                    {# <div id="comments">
                        <div class="comment-box">
                            <h3>Comments</h3>
                            <ol class="comments-list">
                                <li>
                                    <div class="media">
                                        <div class="thumb-left">
                                            <a href="#">
                                                <img class="img-fluid" src="assets/img/blog/user1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="info-body">
                                            <div class="media-heading">
                                                <h4 class="name">Larsen Mortin</h4>
                                                <span class="comment-date"><i class="lni-alarm-clock"></i> June 21, 2018</span>
                                                <a href="#" class="reply-link"><i class="lni-reply"></i> Reply</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, nemo ipsam eum illo minus voluptatibus ipsa nulla, perferendis aliquid aperiam beatae nihil sapiente eaque atque nesciunt perspiciatis ex saepe, quibusdam..</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="media">
                                                <div class="thumb-left">
                                                    <a href="#">
                                                        <img class="img-fluid" src="assets/img/blog/user2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="info-body">
                                                    <div class="media-heading">
                                                        <h4 class="name">Albert Johnes</h4>
                                                        <span class="comment-date"><i class="lni-alarm-clock"></i> June 21, 2018</span>
                                                        <a href="#" class="reply-link"><i class="lni-reply"></i> Reply</a>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, nemo ipsam eum illo minus voluptatibus ipsa nulla, perferendis aliquid aperiam beatae nihil sapiente eaque atque nesciunt perspiciatis ex saepe, quibusdam..</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="thumb-left">
                                            <a href="#">
                                                <img class="img-fluid" src="assets/img/blog/user3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="info-body">
                                            <div class="media-heading">
                                                <h4 class="name">Steven Hawkins</h4>
                                                <span class="comment-date"><i class="lni-alarm-clock"></i> June 21, 2018</span>
                                                <a href="#" class="reply-link"><i class="lni-reply"></i> Reply</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, nemo ipsam eum illo minus voluptatibus ipsa nulla, perferendis aliquid aperiam beatae nihil sapiente eaque atque nesciunt perspiciatis ex saepe, quibusdam..</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <div id="respond">
                                <h2 class="respond-title">Leave A Comment</h2>
                                <form action="#">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group">
                                                <input id="author" class="form-control" name="author" type="text" value="" size="30" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12">
                                            <div class="form-group">
                                                <input id="email" class="form-control" name="author" type="text" value="" size="30" placeholder="Your E-Mail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12col-xs-12">
                                            <div class="form-group">
                                                <textarea id="comment" class="form-control" name="comment" cols="45" rows="8" placeholder="Massage..."></textarea>
                                            </div>
                                            <button type="submit" id="submit" class="btn btn-common">Post Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> #}
                </div>
                <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
                    <div class="widget_search">
                        <form id="search-form">
                            <input type="search" class="form-control" autocomplete="off" name="s" placeholder="Search..." id="search-input" value="">
                            <button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i></button>
                        </form>
                    </div>
                    <div class="widget categories">
                        <h4 class="widget-title">All Categories</h4>
                        <ul class="categories-list">
                            {% for Categorys in Category %}
                                {% if Categorys.name != 'Services built' %}
                                    <li>                                
                                        <a href="#">
                                            {{Categorys.name}}<span class="category-counter"></span>
                                        </a>                                    
                                    </li>
                                {% endif %}
                            {% endfor %}
                            
                        </ul>
                    </div>
                    <div class="widget widget-popular-posts">
                        <h4 class="widget-title">Recent Posts</h4>
                        <ul class="posts-list">
                        {% for Recentpost in Recent %}
                            <li>
                                <div class="widget-thumb">
                                    <a href="{{Recentpost.id}}"><img src="{{ asset("images/thumbnails/")}}{{Recentpost.thumbnail}}" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="{{Recentpost.id}}">{{Recentpost.title}}</a>
                                    <span><i class="icon-calendar"></i>{{Recentpost.category}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                   
                </aside>
            </div>
        </div>
    </div>
    {% include  'footer.html.twig' %}
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
</body>

{% endblock %}
{% block javascripts %}
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script data-search-pseudo-elements defer src="https://use.fontawesome.com/releases/latest/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
{% endblock javascripts %}