{% extends 'getrout.html.twig' %}

{% block title %}Hello BlogsController!{% endblock %}

{% block body %}
<style>
.titlehead h1{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align:right
}
.titlehead span{
    color: #32be8f;
}
</style>
<body>
    
    <div id="content" class="section-padding" style="padding-top:104px;">
        <div class="container">
        
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                {% for posts in post %}
                    <div class="blog-post">
                        <div class="post-thumb">
                            <a href="#"><img class="img-fluid" src="images/thumbnails/{{posts.thumbnail}}" alt=""></a>
                            <div class="hover-wrap"></div>
                        </div>
                        <div class="post-content">
                            <div class="meta">
                                <span class="meta-part"><a href="#"><i class="lni-user"></i> {{ posts.category }}</a></span>
                               {#  <span class="meta-part"><a href="#"><i class="lni-alarm-clock"></i> June 21, 2018</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-folder"></i> Sticky</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-comments-alt"></i> 1 Comments</a></span> #}
                            </div>
                            <h2 class="post-title"><a href="single-post.html">{{ posts.title}}</a></h2>
                            <div class="entry-summary">
                                <p> {{ posts.content| raw}}</p>
                            </div>
                            <a href="{{ path('app_blogs') }}/1" class="btn btn-common">Read More</a>
                        </div>
                    </div>
                {% endfor %}
                    {# <div class="blog-post">
                        <div class="post-thumb">
                            <a href="#"><img class="img-fluid" src="assets/img/blog/blog2.jpg" alt=""></a>
                            <div class="hover-wrap"></div>
                        </div>
                        <div class="post-content">
                            <div class="meta">
                                <span class="meta-part"><a href="#"><i class="lni-user"></i> Clasified</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-alarm-clock"></i> June 21, 2018</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-folder"></i> Sticky</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-comments-alt"></i> 1 Comments</a></span>
                            </div>
                            <h2 class="post-title"><a href="single-post.html">Consectetuer Adipiscing Elit</a></h2>
                            <div class="entry-summary">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta libero molestiae, id reiciendis ipsum consequuntur odit sapiente accusantium odio. Esse nemo quos quaerat illo! Enim saepe impedit distinctio, placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate voluptatum dolores mollitia consequatur velit, veritatis in pariatur ducimus numquam ipsa iusto! Rem eveniet dolorum, quisquam neque beatae quas ea tenetur!</p>
                            </div>
                            <a href="single-post.html" class="btn btn-common">Read More</a>
                        </div>
                    </div>
                    <div class="blog-post">
                        <div class="post-thumb">
                            <a href="#"><img class="img-fluid" src="assets/img/blog/blog3.jpg" alt=""></a>
                            <div class="hover-wrap"></div>
                        </div>
                        <div class="post-content">
                            <div class="meta">
                                <span class="meta-part"><a href="#"><i class="lni-user"></i> Clasified</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-alarm-clock"></i> June 21, 2018</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-folder"></i> Sticky</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-comments-alt"></i> 1 Comments</a></span>
                            </div>
                            <h2 class="post-title"><a href="single-post.html">Et Leggings Fanny Pack</a></h2>
                            <div class="entry-summary">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta libero molestiae, id reiciendis ipsum consequuntur odit sapiente accusantium odio. Esse nemo quos quaerat illo! Enim saepe impedit distinctio, placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate voluptatum dolores mollitia consequatur velit, veritatis in pariatur ducimus numquam ipsa iusto! Rem eveniet dolorum, quisquam neque beatae quas ea tenetur!</p>
                            </div>
                            <a href="single-post.html" class="btn btn-common">Read More</a>
                        </div>
                    </div>
                    <div class="blog-post video-post">
                        <div class="post-thumb">
                            <div class="video-wrapper">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/qighCE8WfBk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="meta">
                                <span class="meta-part"><a href="#"><i class="lni-user"></i> Clasified</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-alarm-clock"></i> June 21, 2018</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-folder"></i> Sticky</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-comments-alt"></i> 1 Comments</a></span>
                            </div>
                            <h2 class="post-title"><a href="single-post.html">Exercitation Photo Booth</a></h2>
                            <div class="entry-summary">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta libero molestiae, id reiciendis ipsum consequuntur odit sapiente accusantium odio. Esse nemo quos quaerat illo! Enim saepe impedit distinctio, placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate voluptatum dolores mollitia consequatur velit, veritatis in pariatur ducimus numquam ipsa iusto! Rem eveniet dolorum, quisquam neque beatae quas ea tenetur!</p>
                            </div>
                            <a href="single-post.html" class="btn btn-common">Read More</a>
                        </div>
                    </div> #}
                    <div class="pagination-bar">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
                    <div class="widget_search">
                        <form role="search" id="search-form">
                            <input type="search" class="form-control" autocomplete="off" name="s" placeholder="Search..." id="search-input" value="">
                            <button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i></button>
                        </form>
                    </div>
                    <div class="widget categories">
                        <h4 class="widget-title">All Categories</h4>
                        <ul class="categories-list">
                            {% for Categorys in Category %}
                                {% if Categorys.name != 'Services built' %}
                                    <li>                                
                                        <a href="#">
                                            {{Categorys.name}}<span class="category-counter"></span>
                                        </a>                                    
                                    </li>
                                {% endif %}
                            {% endfor %}
                           
                        </ul>
                    </div>
                    <div class="widget widget-popular-posts">
                        <h4 class="widget-title">Recent Blogs</h4>
                        <ul class="posts-list">
                        {% for Recentpost in Recent %}
                            <li>
                                <div class="widget-thumb">
                                    <a href="/blogs/{{Recentpost.id}}"><img src="{{ asset("images/thumbnails/")}}{{Recentpost.thumbnail}}" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="{{Recentpost.id}}">{{Recentpost.title}}</a>
                                
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">Our Top Services</h4>
                        <ul class="posts-list">
                        {% for Productr in service %}
                                    <li>
                                        <div class="widget-thumb">
                                            <a href="prodetail/{{Productr.id}}"><img src="{{ asset("images/thumbnails/")}}{{Productr.service.thumbnail}}" alt="" /></a>
                                        </div>
                                        <div class="widget-content">
                                            <h4><a href="{{Productr.id}}">{{Productr.name}}</a></h4>
                                            <div class="meta-tag">
                                                <h6 class="price">₹{{Productr.price}}</h6>
                                                
                                            </div>                                            
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                {% endfor %}
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    {% include  'footer.html.twig' %}
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}
</body>
{% endblock %}
