{% extends 'getrout.html.twig' %}

{% block title %}Hello BlogsController!{% endblock %}

{% block body %}
<style>
.titlehead h1{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align:right
}
.titlehead span{
    color: #32be8f;
}

.entry-summary div{
    color:black !important;
}
</style>
{% if app.request.get('page') %}
{% set current_page = app.request.get('page') %}
{% else %}
{% set current_page = 1 %}
{% endif %}
<body>
    
    <div id="content" class="section-padding" style="padding-top:104px;">
        <div class="container">
        
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                {% for posts in post %}
                    <div class="blog-post">
                        <div class="post-thumb">
                            <a href="{{ path('app_blogs') }}/{{posts.id}}"><img class="img-fluid" src="images/thumbnails/{{posts.thumbnail}}" alt="" style="width: 100%;"></a>
                            <div class="hover-wrap"></div>
                        </div>
                        <div class="post-content">
                            <div class="meta">
                                <span class="meta-part"><a href="{{ path('app_blogs') }}/{{posts.id}}"><i class="lni-user"></i> {{ posts.category }}</a></span>
                               {#  <span class="meta-part"><a href="#"><i class="lni-alarm-clock"></i> June 21, 2018</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-folder"></i> Sticky</a></span>
                                <span class="meta-part"><a href="#"><i class="lni-comments-alt"></i> 1 Comments</a></span> #}
                            </div>
                            <h2 class="post-title"><a href="">{{ posts.title}}</a></h2>
                            <div class="entry-summary">
                                <p> {{ posts.content|striptags|slice(0, 350) ~ '...'}}</p>
                            </div>
                            <a href="{{ path('app_blogs') }}/{{posts.id}}" class="btn btn-common">Read More</a>
                        </div>
                    </div>
                {% endfor %}
                   
                    {% if total_pages > 1 %}
                    <div class="pagination-bar">
                        <nav>
                            <ul class="pagination justify-content-center">
                                {% for i in 1..total_pages %}
                                {% if loop.first %}
                                <li class="page-item {% if current_page == 1 %} disabled  {% endif %}">
                                    <a class="page-link" href="?page={{ current_page-1 }}" tabindex="-1">Pre</a>
                                </li>
                                {% endif %}
                                <li class="page-item "><a class="page-link {% if current_page == loop.index %} active  {% endif %}  " href="?page={{ loop.index }}">{{ loop.index }}</a></li>
                                {% if loop.last %}
                                <li class="page-item {% if current_page == total_pages %} disabled  {% endif %}"><a class="page-link" href="?page={{ current_page+1 }}">Next</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                {% endif %}
                </div>
                <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
                    <div class="widget_search">
                        <form role="search" id="search-form">
                            <input type="search" class="form-control" autocomplete="off" name="s" placeholder="Search..." id="search-input" value="">
                            <button type="submit" id="search-submit" class="search-btn"><i class="lni-search"></i></button>
                        </form>
                    </div>
                    <div class="widget categories">
                        <h4 class="widget-title">All Categories</h4>
                        <ul class="categories-list">
                            {% for Categorys in Category %}
                                {% if Categorys.name != 'Services built' %}
                                    <li>                                
                                        <a href="#">
                                            {{Categorys.name}}<span class="category-counter"></span>
                                        </a>                                    
                                    </li>
                                {% endif %}
                            {% endfor %}
                           
                        </ul>
                    </div>
                    <div class="widget widget-popular-posts">
                        <h4 class="widget-title">Recent Blogs</h4>
                        <ul class="posts-list">
                        {% for Recentpost in Recent %}
                            <li>
                                <div class="widget-thumb">
                                    <a href="{{ path('app_blogs') }}/{{Recentpost.id}}"><img src="{{ asset("images/thumbnails/")}}{{Recentpost.thumbnail}}" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="{{ path('app_blogs') }}/{{Recentpost.id}}">{{Recentpost.title}}</a>
                                
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">Our Top Services</h4>
                        <ul class="posts-list">
                            {% for Productr in service %}
                                <li>
                                    
                                    <div class="widget-thumb">
                                        {# <a href="prodetail/{{Productr.id}}"><img src="{{ asset("images/thumbnails/")}}{{Productr.service.thumbnail}}" alt="" /></a> #}
                                    </div>
                                    <div class="widget-content">
                                        <h4 style="font-size: 16px;"><a href="prodetail/{{Productr.id}}">{{Productr.name}}</a></h4>
                                        <div class="meta-tag">
                                            <h6 class="price">₹{{Productr.price}}</h6>
                                            
                                        </div>  
                                        <div class="widget-thumb" style="padding-right:10px;">
                                            <form method="post" action="{{ path('app_addtocart') }}">
                                                {% if basket|length > 0 %}
                                                    {% set found = false %}
                                                    {% for item in basket %}
                                                        {% if item.id == Productr.id %}
                                                            <a href="../cart" disabled><button class="btn btn-success"><i class="fa fa-check "></i></button></a>
                                                            {% set found = true %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if not found %}
                                                        <input type="hidden" name="proid" value="{{Productr.id}}">
                                                        <input type="hidden" name="addoncart" value="{{Productr.id}}">
                                                        <button class="btn btn-success"><i class="fa fa-shopping-cart "></i> </button>
                                                    {% endif %}
                                                {% else %}
                                                    <input type="hidden" name="proid" value="{{Productr.id}}">
                                                    <input type="hidden" name="addoncart" value="{{Productr.id}}">
                                                    <button class="btn btn-success"><i class="fa fa-shopping-cart "></i> </button>
                                                {% endif %}
                                            </form>

                                        <a href="{{Productr.id}}"></a>
                                    </div>                                          
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    {% include  'footer.html.twig' %}
    {# <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div> #}
</body>
{% endblock %}
