{% extends 'getrout.html.twig' %}
{% block title %}Booking index{% endblock %}
{% block body %}
<h1>Booking index</h1>

<body>
    <div class="page-header" style="background: url(assets/img/banner1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Dashbord</h2>
                        <ol class="breadcrumb">
                            <li><a href="#">Home /</a></li>
                            <li class="current">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                    <aside>
                        <div class="sidebar-box">
                            <div class="user">
                                <figure>
                                    <a href="#"><img src="assets/img/author/img1.jpg" alt=""></a>
                                </figure>
                                <div class="usercontent">
                                    <h3>Hello William!</h3>
                                    <h4>Administrator</h4>
                                </div>
                            </div>
                            <nav class="navdashboard">
                                <ul>
                                    <li>
                                        <a  href="dashboard.html">
                                            <i class="lni-dashboard"></i>
                                            <span>assign order</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href="booking">
                                            <i class="lni-cog"></i>
                                            <span>Appointment</span>
                                        </a>
                                    </li>
                                    {# <li>
                                        <a href="account-myads.html">
                                            <i class="lni-layers"></i>
                                            <span>My Ads</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="offermessages.html">
                                            <i class="lni-envelope"></i>
                                            <span>Offers/Messages</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="payments.html">
                                            <i class="lni-wallet"></i>
                                            <span>Payments</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="account-favourite-ads.html">
                                            <i class="lni-heart"></i>
                                            <span>My Favourites</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="privacy-setting.html">
                                            <i class="lni-star"></i>
                                            <span>Privacy Settings</span>
                                        </a>
                                    </li> #}
                                    <li>
                                        <a href="#">
                                            <i class="lni-enter"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </aside>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div class="page-content">
                        <div class="inner-box">
                            <div class="dashboard-box">
                                <h2 class="dashbord-title">Appointment</h2>
                            </div>
                            <div class="dashboard-wrapper">
                                <table class="table table-responsive dashboardtable tablemyads">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Userid</th>
                                            <th>Starttime</th>
                                            <th>Endtime</th>
                                            <th>Startslot</th>
                                            <th>StartSlot</th>
                                            <th>StartSlotM</th>
                                            <th>EndSlotM</th>
                                            <th>MangetStatu</th>
                                            <th>Clintstarttime</th>
                                            <th>ClintEndtime</th>
                                            <th>ClintStartSlot</th>
                                            <th>ClintEndSlot</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for booking in bookings %}
                                        <tr>
                                            <td>{{ booking.id }}</td>
                                            <td>{{ booking.Userid }}</td>
                                            <td>{{ booking.Starttime ? booking.Starttime|date('Y-m-d') : '' }}</td>
                                            <td>{{ booking.Endtime ? booking.Endtime|date('Y-m-d') : '' }}</td>
                                            <td>{{ booking.Startslot }}</td>
                                            <td>{{ booking.StartSlot ? booking.StartSlot|date('H:i:s') : '' }}</td>
                                            <td>{{ booking.StartSlotM ? booking.StartSlotM|date('H:i:s') : '' }}</td>
                                            <td>{{ booking.EndSlotM ? booking.EndSlotM|date('H:i:s') : '' }}</td>
                                            <td>{{ booking.MangetStatu }}</td>
                                            <td>{{ booking.Clintstarttime ? booking.Clintstarttime|date('Y-m-d') : '' }}</td>
                                            <td>{{ booking.ClintEndtime ? booking.ClintEndtime|date('Y-m-d') : '' }}</td>
                                            <td>{{ booking.ClintStartSlot ? booking.ClintStartSlot|date('H:i:s') : '' }}</td>
                                            <td>{{ booking.ClintEndSlot ? booking.ClintEndSlot|date('H:i:s') : '' }}</td>
                                            <td>
                                                <a href="{{ path('app_booking_show', {'id': booking.id}) }}">show</a>
                                                <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                        <td colspan="14">
                                            <h1>
                                                no records found
                                            </h1>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{{ path('app_booking_new') }}" class="btn btn-common">Create new</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include  'footer.html.twig' %}
</body>
{% endblock %}