

<h3>New Booking :</h3>
<p>You have received new order appointment </p>
<ul>
{# {% for product in order.products %}
    <li>{{ product.name }}</li>
{% endfor %} #}
<li>Order Id : {{orderId}}  </li>
<li>client name : {{name}}  </li>
<li>client email : {{client}}  </li>
{# <li>start date = {{startdate}}  </li>
<li>client email = {{starttime}}  </li> #}
</ul>

{# <p>We will confirm when your order has been dispatched.</p> #}