

<h3>New Query Message :</h3>
<p>You have received new Query Message </p>
<ul>
{# {% for product in order.products %}
    <li>{{ product.name }}</li>
{% endfor %} #}
<li>client Id : {{id}}  </li>
<li>client name : {{name}}  </li>
<li>client email : {{client}}  </li>
<li>message : {{message}}  </li>
{# <li>start date = {{startdate}}  </li>
<li>client email = {{starttime}}  </li> #}
</ul>

{# <p>We will confirm when your order has been dispatched.</p> #}