{% block hearder %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 0%;
    content: attr(data-count);
    font-size: 50%;
    padding: 0.6em;
    border-radius: 9px;
    line-height: 0.75em;
    color: white;
    color: #5bb7c5;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    background: white;
    border-style: solid;
}

.fa-circle {
    color: #5bb7c5;
}

.red-cart {
    color: #5bb7c5;
    background: white;
}
 .mobileflex{
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
}
.mobilebtn{
    width: 100%;
}
.mobilebtn a{
    color: #fff;
}
.cartbtn{
    display: none;
}
@media(max-width:991px) {
    .cartbtn{
    display: block;
}
.cartbtn{
  position: absolute;
    top: 10px;
    /* right: 0; */
    right: 25%;  
}
}
    
</style>
<header id="header-wrap">
    <nav class="navbar navbar-expand-lg bg-white fixed-top scrolling-navbar">
        <div class="container">
            <div class="navbar-header">
                <div class="cartbtn">
                <a href="{{ path('app_cart')}}">
                    <span class="fa-stack fa-2x has-badge" data-count="{{basket| length}}" style="font-size:20px;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                    <span class="lni-menu"></span>
                </button>
                <a href="{{ path('app_home') }}" class="navbar-brand"><img src="{{ asset('assets/img/logo.png') }}" alt="" ></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100 justify-content-center">
                    <li class="nav-item  {%if app.request.attributes.get('_route')== "app_home"%} active{%endif%}">
                        <a class="nav-link " href="{{ path('app_home') }}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item {%if app.request.attributes.get('_route')== "app_services"%} active{%endif%}">
                        <a class="nav-link " href="{{ path('app_services') }}">
                            Services
                        </a>
                    </li>
                    <li class="nav-item {%if app.request.attributes.get('_route')== "app_about"%} active{%endif%}">
                        <a class="nav-link " href="{{ path('app_about') }}">
                            About US
                        </a>
                    </li>
                    <li class="nav-item {%if app.request.attributes.get('_route')== "app_blogs"%} active{%endif%}">
                        <a class="nav-link " href="{{ path('app_blogs') }}">
                            Blog
                        </a>
                    </li>
                    {# <li class="nav-item {%if app.request.attributes.get('_route')== "app_club"%} active{%endif%}">
                        <a class="nav-link " href="{{ path('app_club') }}">
                            Club
                        </a>
                    </li> #}
                    <li class="nav-item {%if app.request.attributes.get('_route')== "app_affiliated"%} active{%endif%}">
                        <a class="nav-link " href="{{ path('app_affiliated') }}">
                            Affiliate
                        </a>
                    </li>
                    <li class="nav-item {%if app.request.attributes.get('_route')== "app_feedback"%} active{%endif%}">
                        <a class="nav-link " href="{{ path('app_feedback') }}">
                            Feedback
                        </a>
                    </li>
                    <li class="nav-item {%if app.request.attributes.get('_route')== "app_contact"%} active{%endif%}">
                        <a class="nav-link " href="{{ path('app_contact') }}">
                            Contact
                        </a>
                    </li>
                </ul>
                {# <div class="post-btn">
                    <a class="btn btn-common" href="../schoolpanel/addpost.php"><i class="lni-pencil-alt"></i> List your School</a>
                </div> #}
                <div class="post-btn" style="margin-left: 20px;">
                <a href="{{ path('app_cart')}}">
                    <span class="fa-stack fa-2x has-badge" data-count="{{basket| length}}" style="font-size:20px;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    {# <a href="cart" class="btn btn-common"><i class="lni-cart"></i>{{basket| length}}</a> #}
                </div>
                {% if app.user %}
                    <div class="post-btn" style="margin-left: 20px;">
                        <a class="btn btn-common" href="{{ path('app_logout') }}"><i class="lni-enter"></i> logout</a>
                    </div>
                    <div class="post-btn" style="margin-left: 20px;">
                        <a class="btn btn-common" href="{{ path('app_dashboard') }}"><i class="lni-dashboard"></i> Dashbord</a>
                    </div>
                    {% else %}
                    <div class="post-btn" style="margin-left: 20px;">
                        <a class="btn btn-common" href="{{ path('app_login') }}"><i class="lni-lock"></i>Login</a>
                    </div>
                    <div class="post-btn" style="margin-left: 20px;">
                        <a class="btn btn-common" href="{{ path('app_register') }}"><i class="lni-pencil-alt"></i>Register</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <ul class="mobile-menu">
            {# <li>
                <a  href="index.php">
                    Home
                </a>
            </li> #}
            <li>
                {% if app.user %}
                    <div class="mobileflex">
                        <div class="mobilebtn">
                            <a class="btn btn-common" href="{{ path('app_logout') }}"><i class="lni-enter"></i> logout</a>
                        </div>
                        <div class="mobilebtn">
                            <a class="btn btn-common" href="{{ path('app_dashboard') }}"><i class="lni-dashboard"></i> Dashbord</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="mobileflex">
                        <div class="mobilebtn">
                            <a class="btn btn-common" href="{{ path('app_login') }}"><i class="lni-lock"></i>Login</a>
                        </div>
                        <div class="mobilebtn">
                            <a class="btn btn-common" href="{{ path('app_register') }}"><i class="lni-pencil-alt"></i>Register</a>
                        </div>
                    </div>
                {% endif %}
            </li>
            <li >
                <a class="active" href="{{ path('app_home') }}">
                    Home
                </a>
            </li>
            <li >
                <a class="nav-link " href="{{ path('app_services') }}">
                    Services
                </a>
            </li>
            <li >
                <a class="nav-link " href="{{ path('app_about') }}">
                    About US
                </a>
            </li>
            <li >
                <a class="nav-link " href="{{ path('app_blogs') }}">
                    Blog
                </a>
            </li>
            {# <li>
                <a class="nav-link " href="{{ path('app_club') }}">
                    Club
                </a>
            </li> #}
            <li>
                <a class="nav-link " href="{{ path('app_affiliated') }}">
                    Affiliate
                </a>
            </li>
            <li>
                <a class="nav-link " href="{{ path('app_feedback') }}">
                    Feedback
                </a>
            </li>
            <li>
                <a class="nav-link " href="{{ path('app_contact') }}">
                    Contact
                </a>
            </li>
            
        </ul>
    </nav>
    {# <div id="hero-area">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-9 col-xs-12 text-center">
                    <div class="contents">
                        <h1 class="head-title">Your one-stop destination to become financially <span class="year" style="font-size:60px;text-transform: uppercase;"><span id="word">Aware</span></h1>
                        <p style="color: #ffff !important">Think Finances. Think Us</p>
                        <div class="search-bar">
                            <div class="search-inner">
                                <form class="search-form">
                                    <div class="form-group">
                                        <input type="text" name="customword" class="form-control" placeholder="What are you looking for?">
                                    </div>
                                    <button class="btn btn-common" type="button"><i class="lni-search"></i> Search Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
</header>
{% endblock hearder %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
    count = 0;
    wordsArray = ["sorted", "confident", "aware"];
    setInterval(function() {
        count++;
        $("#word").fadeOut(400, function() {
            $(this).text(wordsArray[count % wordsArray.length]).fadeIn(400);
        });
    }, 2000);
});
</script>
{% endblock javascripts %}