<nav id="sidebar" class="sidebar">
	<a class="sidebar-brand" href="/">
		<img src="{{ asset('assets/img/') }}logo.png">
		{# <svg>
			<use xlink:href="#ion-ios-pulse-strong"></use>
		</svg> #}
	</a>
	<a class="sidebar-brand12" href="/">
		Welcome! {{app.user.name}}
	</a>
	
	<div class="sidebar-content">
		<div class="sidebar-user">
			<img src="assets\img\user\{% if app.user.imgicon != null %}{{app.user.imgicon}}{% else %}usericon.png{% endif %}" class="img-fluid rounded-circle mb-2" alt="{{app.user.name}}" />
			<div class="font-weight-bold">{{app.user.name}}</div>
			{# <small>Front-end Developer</small> #}
		</div>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Dashboards
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('app_dashboard') }}">
					<i class="align-middle mr-2 far fa-fw fa lni-cart"></i> <span class="align-middle">My Orders</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('app_profile') }}">
					<i class="align-middle mr-2 far fa-fw lni-user"></i> <span class="align-middle">Profile Settings</span>
				</a>
			</li>
			
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('app_mywallet') }}">
					<i class="align-middle mr-2 far fa-fw lni-wallet"></i> <span class="align-middle">My Wallet</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a href="#dashboards" data-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle mr-2 fas fa-fw fa fa fa-handshake-o"></i> <span class="align-middle">Affiliate</span>
				</a>
				<ul id="dashboards" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="{{ path('app_affiliate_index') }}">Affiliate Dashboard</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="{{ path('app_user_affiliate_index') }}">Affiliate User</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="{{ path('app_order_affiliate_index') }}">Affiliate Order</a></li>
					
				</ul>
			</li>

			{# <li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('app_club') }}">
					<i class="align-middle mr-2 far fa-fw fa fa-star-o"></i> <span class="align-middle">Club</span>
				</a>
			</li> #}
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('app_mybooking') }}">
					<i class="align-middle mr-2 far fa-fw fa lni-calendar"></i> <span class="align-middle">My Appointments</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('app_account_manager') }}">
					<i class="align-middle mr-2 far fa-fw fa lni-user"></i> <span class="align-middle">My Account Managar</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="{{ path('app_logout') }}">
					<i class="align-middle mr-2 far fa-fw fa lni-enter"></i> <span class="align-middle">Log Out</span>
				</a>
			</li>
			
		</ul>
	</div>
</nav>